@charset "utf-8";
/* CSS Document */

h1{
	font:normal 24px Arial, Helvetica, sans-serif;
	color:#fff;
	
	}
h3{
	font:normal 22px Arial, Helvetica, sans-serif;
	
	}	
	
h4{
	font:normal 18px Arial, Helvetica, sans-serif;
	
	}
p{
	font:normmal 14px Arial, Helvetica, sans-serif;
	
	}
	
	
.left{
	float:left;
	
	}
.right{
	float:right;
	
	}
.wrapper{
	width:100%;
	background:url(../images/pattern2.png) repeat;
	
	}
	
.wrapper-container{
	width:960px;
	box-shadow:0 0 6px #cecece;
	background:url(../images/pattern4.png) repeat;
	margin:0 auto;
	
	
	}
/*header part goes here*/
	
.header{
	width:960px;	
    position: relative;

}
.logo{
	width:610px;
	margin:0 10px;
	float:left;
	
		
	}
.header-right{
	width:300px;
	margin:0 10px;
	float:right;
	
	}
	
.header-right img{
	margin:11px 0 0 121px;
	
	}	
.header-right h1{
	float:right;
	margin-top:17px;
	color:#333;
	margin-right:4px;
	
	
	}


/*.header-right form input.sub{
	background:#D90F0F url(../image/submit.png) repeat-x;
	border:1px solid #E17171;
	color:#fff;
	cursor:pointer;
	padding:4px;
	
	
	}
	
.header-right form input.write{
	border:1px solid #D90F0F;
	height: 22px;
    margin: 4px;
    width: 185px;
	padding:3px;
	
	}
.header-right h1, form{
	float:right;
	margin:10px;
	
	}
	*/
/*nav part goes here*/	
	
.nav{
	width:960px;
	background:#38383a url(../images/nav.png) repeat-x;
	margin:10px 0 0;
	overflow:hidden;
	box-shadow:0 4px 5px #666;
	-moz-box-shadow:0 4px 5px #666;
	-webkit-box-shadow:0 4px 5px #666;
	
	}	
	
.nav ul li{
	display:inline;
	
	}	
.nav ul li.last a{
	border-right:none;
	
	}
	
.nav ul li.first a{
	border-left:none;
	
	}
.nav ul li a {
    color: #FFFFFF;
    font:normal 15px Arial, Helvetica, sans-serif;
    text-decoration: none;
	border-right:1px solid #525254;
	border-left:1px solid #38383A;
	float:left;
	padding:10px;
    text-transform: uppercase;
	
}
	
.nav ul li:hover a,.nav ul li.current-menu-item a{
	background:#9e0b0f url(../images/nav-hover.png) repeat-x;
	
	}
	
/*banner part goes here*/
	
.banner-container{
	width:960px;
	margin-top:10px;
	
	
	}	

.banner{
	width:643px;
	float:left;
	overflow:hidden;
	
	}

	
.banner-right{
	width:306px;
	margin-left:10px;
	float:right;
	
	
	}
	
.banner-box{
	border:1px solid #ccc;
	position:relative;
	margin-bottom:10px;
	}
.banner-box img.new-item{
	padding:2px;
	height:187px;
	width:288px;
	box-shadow: 0 0 6px #000000;
	-moz-box-shadow: 0 0 6px #000000;
	-webkit-box-shadow: 0 0 6px #000000;
	
	}	
.banner-box img.ribbon{
	left: 1px;
    position: absolute;
    top: 1px;
    z-index: 11;
	height:90px;
	
	}
	
/*container part goes here*/	
.container{
	width:940px;
	margin:0 10px;
	overflow:hidden;
	
	}	

.side-bar{
	width: 200px;
	float: left;
	
	}
	
.side-bar h3{
	font:normal 22px Arial, Helvetica, sans-serif;
	color:#38383a;
	border-bottom:2px solid #d90f0f;
	padding-bottom:10px;
	
	
	}
.side-bar ul li{
	background:url(../images/side_list_bg.png) no-repeat 0 4px;
	padding:0 0 2px 15px;
	margin:5px 0 0 10px;
	border-bottom:2px solid #cccccc;
	
	
	}
.side-bar ul li a{
	text-decoration:none;
	color:#525254;
	font:normal 15px Arial, Helvetica, sans-serif;
	margin:10px;
	
	}
.side-bar ul li a:hover{
	color:#d90f0f;
	transition:all 0.5s ease 0.2s;
	margin-left:20px;
	
	}	
	
/*main part goes here*/	
.main{
	width:720px;
	
	
	}
.product{
	margin-bottom:15px;
	overflow:hidden;
	
	}		
.product h3{
	font:normal 22px Arial, Helvetica, sans-serif;
	color:#38383a;
	border-bottom:2px solid #d90f0f;
	padding-bottom:10px;
	width:714px;
	
	}

	
.box{
	width:160px;
	margin:10px 20px 0 0;
	border:2px solid #999;
	float:left;
	overflow:hidden;
	background:#ccc;
	
	}
	
.box img{
	padding:0 0 10px;
	
	}
.box h4{
	color:#d90f0f;
	margin:5px;
	font-size:15px;
	font-weight:bold;
	display:block;
	text-align:center;
	}
.box p{
	color:#fff;
	display:block;
	font-size:12px;
	background:#d90f0f;
	padding:5px;
	text-align:center;
	}
.box span a{
	background:#666666;
	margin:5px 0 0;
	border:none;
	color:#fff;
	cursor:pointer;
	display:block;
	text-align:center;
	padding:5px 0;
	}
.box span a:hover{
	background:#999;
	
	}
.box button:hover{
	background:#999;
	
	}
.product div.last{
	margin-right:0;
	
	}

/*footer part goes here*/	
.footer{
	width:960px;
	background:#222;
	overflow:hidden;
	}	
.footer-left, .footer-mid, .footer-right{
	width:290px;
	float:left;
	margin:10px;
	
	
	}
.footer-left h5, .footer-mid h5, .footer-right h5{
	color:#666;
	font:bold 13px Arial, Helvetica, sans-serif;
	padding:10px 5px;
	
	}
.footer-left ul li{
	display:block;
	
	
	}
.footer-left ul li a{
	padding-left: 5px;
	color:#666;
	font:normal 11px/20px Arial, Helvetica, sans-serif;
	display:block;
	
	
	}
.footer-left ul li a:hover{
	color:#999;
	
	}
.footer-mid h5{
	padding-left:98px;
	
	}
.footer-mid ul li{
	display:block;
	margin:5px;
	padding-left:95px;
	
	}
.footer-mid ul li img{
	float:left;
	
	}	
	
.footer-mid ul li a{
	color:#666;
	font:normal 13px/24px Arial, Helvetica, sans-serif;
	padding-left:5px;
	
	}

.footer-mid ul li a:hover{
	color:#999;
	
	}
	
.footer-right h5{
	padding-left:115px;
	
	}	
.footer-right p{
	font:normal 12px/20px Arial, Helvetica, sans-serif;
	color:#666;
	padding-left:115px;
	}	

.copy_right{
	width:960px;
	background:#333;
	overflow:hidden;
	}
.copy_right p{
	font:normal 11px/13px Arial, Helvetica, sans-serif;
	color:#000;
	display:block;
	padding:10px 10px 10px 170px;
	
	
	}
	
	
	






	
.clr{
	clear:both;
	
	}
