@charset "utf-8";
/* CSS Document */
*{margin:0px; outline:none; padding:0px; }
body {
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 16px; margin: 0; padding: 0;
}
table {border-collapse:collapse; border-spacing:0;}
fieldset{border:0; display:block;}
caption,th {text-align:left;}
q:before,q:after {content:'';}
abbr,acronym {border:0;}
h1, h2, h3, h4, h5, h6 {font-weight:normal;}
ol, ul, li {list-style:none;}
a{text-decoration:none;}
a:hover{text-decoration:underline;}
form *:focus, a:focus{outline:none;}
img{border: 0;}
