@charset "utf-8";
/* CSS Document */

/*Product Page goes here*/

.new_product{
	width:960px;
	margin:10px 0;
	overflow:hidden;
	
	}

.product_title{
	width:960px;
	overflow:hidden;
	background:#666;
	
	}
.product_title h3{
	width:400px;
	font:normal 22px Arial, Helvetica, sans-serif;
	color:#ccc;
	padding:10px;
	float:left;
	
	}
.product_title ul{
	float:right;
	
	}
.product_title ul li{
	display:inline;
	
	
	}
	
.product_title ul li a{
	float:left;
	overflow:hidden;
	text-decoration:none;
	padding:10px;
	color:#ccc;
	display:block;
	font:normal 15px/22px Arial, Helvetica, sans-serif;
	
	}
.product_title ul li a:hover, .product_title ul li a.active{
	color:#fff;
	text-decoration:underline;
	
	}
.product_title ul li a.no_underline{
	text-decoration:none;
	
	}	
/****    ****/
.product_box{
	width:198px;
	margin:10px;
	border:1px solid #999;
	float:left;
	overflow:hidden;
	background:#FCFBFB;
	padding:10px;
	
	}
.product_box .post-meta span.post-meta-key{display: none;}	
.product_box .post-meta span.price,.product_box a.product-detail{background: #666; color: #fff; display: block; padding: 5px; text-align: center;}
.product_box .post-meta a.product-detail{background: #999;}
.product_box .post-meta a.product-detail:hover{background: #666;}
.product_box .post-meta > li { margin-bottom: 2px;}

.product_box img{
	padding:0 0 5px;
	border:2px solid #FCFBFB;
	vertical-align:middle;
	
	
	
	}
.product_box h4{
	color:#000;
	margin:5px;
	font-size:15px;
	font-weight:bold;
	display:block;
	text-align:center;
	}
.product_box p{
	/*color:#fff;*/
	display:block;
	font-size:12px;
	/*background:#666;*/
	padding:5px;
	text-align:center;
	}
.product_box span a{
	background:#999;
	margin:2px 0 0;
	border:none;
	color:#fff;
	cursor:pointer;
	display:block;
	text-align:center;
	padding:5px 0;
	}
.product_box span a:hover{
	background:#666;
	
	}
.product_box button:hover{
	background:#999;
	
	}


/*contact page goes here*/

.contact{
	width:940px;
	margin:10px;
	overflow:hidden;
	
	}

.contact h3{
	font:normal 25px Arial, Helvetica, sans-serif;
	color:#525254;
	border-bottom:1px dashed #666666;
	padding-bottom:10px;
	margin:10px 0 20px;
	display:block;
	
	}


.contact_left{
	width:400px;
	overflow:hidden;
	float:left;
	
	}

.contact-detail{
	width:300px;
	float:left;
	padding-left:10px;
	
	}
.contact-detail h4{
	color:#38383a;
	padding:10px 0;
	
	}
.contact-detail p{
	margin-bottom:15px;
	
	}	
.gmap{
	width:300px;
	height:250px;
	float:left;
	margin:10px;
	
	}
.contact_right{
	width:500px;
	float:right;
	overflow:hidden;
	margin:0 10px;
	}


.contact h4{
	color:#38383a;
	padding:10px 0 5px;
	
	}

	
.contact-form label{
	display:block;
	font-weight:bold;
	padding:10px 0;
	
	}
.red{
	color:#ff0000;
	
	}
input.text-full{
	width:500px;
	height:30px;
	
	}
input.submit{
	margin-top:5px;
	
	}


