
a {
    text-decoration: none;
	color:#000;

}
body {
	background:#fff;
	font-family:"futuram";

}
.wrapper {
   
    min-width: 1045px;
    overflow: hidden;
    width: 100%;
}
.headertop {
    display: table;
    position: relative;
    width: 100%;
}
.headertop .htmid {
   background: none repeat scroll 0 0 #F3F3F3;
    border-bottom: 1px solid #DEDEDE;
    float: left;
    height: 67px;
    width: 100%;
}
.headertop .logotop {
    float: left;
    margin-left: 15px;
}
.headertop .searchareatop {
    float: left;
    padding-left: 20px;
    padding-top: 15px;
}
.searcharea{
border: 1px solid #AAC6EA;
    border-radius: 4px 4px 4px 4px;	
	_background:#fff;
	line-height:30px;
	width:196px;
	height:28px;
	border:none;
	_border:1px sold #AAC6EA;
	padding-left:5px;
	float:left;
	margin-top:5px;
	overflow:hidden;
	padding-right:5px;
	}
.searchbutton {
 
    border: medium none;
    float: left;
    height: 30px;
    margin-left: 5px;
    width: 45px;
}
.whitecolourtext {
    color: #FFFFFF;
}
.button1 {
	background:url(../images/search.png) no-repeat;
	height:45px;
	width:45px;
   
    border: medium none;
    color: #56B409;
    cursor: pointer;
    display: block;
    float: left;
    font-family: "futuram";
    font-size: 16px;
    font-weight: bold;
    line-height: 30px;
    padding: 4px 15px;
	text-indent:-999px;
}
.headertop .salesuseright {
    float: right;
}
.headertop .salesuseright ul li {
    float: left;
    list-style: none outside none;
    margin: 0 10px;
    position: relative;
    text-align: center;
    z-index: 55;
}
.headertop .salesuseright ul li p a {
    color: #a08bba;
    font-family: "futuram";
    font-size: 16px;
    font-weight: bold;
    line-height: 30px;
}
.headertop .salesuseright ul li h2 {
    border-radius: 8px 8px 8px 8px;
    display: inline-block;
    text-align: center;
    width: 142px;
}
#subnav1 {
    background-color: #FFFFFF;
    border-bottom-left-radius: 7px 11px;
    border-bottom-right-radius: 7px 11px;
    box-shadow: 0 12px 4px rgba(46, 32, 30, 0.25);
    display: none;
    position: absolute;
    top: 15px;
    width: 142px;
    z-index: 50;
}
#subnav1 li {
    clear: both;
    display: inline-block;
    margin-top: 5px;
    padding: 2px 3px;
    width: 82%;
}
#subnav1 li a {
    border-radius: 8px 8px 8px 8px;
    color: #000000;
    display: inline-block;
    float: left;
    font-family: "futuram";
    font-size: 12px;
    line-height: 20px;
    text-align: left;
    width: 100%;
}
#subnav1 li a:hover {
    background-color: #FDE9BA;
}
#subnav2 {
    background-color: #FFFFFF;
    border-bottom-left-radius: 7px 11px;
    border-bottom-right-radius: 7px 11px;
    border-top-left-radius: 7px 11px;
    box-shadow: 0 12px 4px rgba(46, 32, 30, 0.25);
    display: none !important;
    position: absolute;
    right: -15px !important;
    top: 15px;
    width: 200px;
    z-index: 50;
}
#subnav2 li {
    clear: both;
    display: inline-block;
    margin-top: 5px;
    padding: 2px 3px;
    width: 82%;
}
#subnav2 li a {
    border-radius: 8px 8px 8px 8px;
    color: #000000;
    display: inline-block;
    float: left;
    font-family: "futuram";
    font-size: 12px;
    line-height: 20px;
    text-align: left;
    width: 100%;
}
#subnav2 li a:hover {
    background-color: #FDE9BA;
}
.headertop .salesuseright ul li h2:hover {
    background-color: #FFFFFF;
    box-shadow: 0 12px 4px rgba(46, 32, 30, 0.25);
}
.echthree {
    background-color: #ED6519;
    border-radius: 8px 8px 8px 8px;
    display: inline-block;
    overflow: hidden;
    padding-right: 5px;
}
.whitebackground {
    background-color: #FFFFFF;
    box-shadow: 0 12px 4px rgba(46, 32, 30, 0.25);
    color: #ED6519 !important;
}
.orangecolour {
    color: #ED6519 !important;
}
.headertop .salesuseright ul li h2 a {
    color: #a08bba;
    display: inline-block;
    float: left;
    font-family: "futuram";
    font-size: 16px;
    font-weight: bold;
    line-height: 30px;
    text-align: center;
    width: 142px;
}
.headertop .salesuseright ul li h2 a:hover {
    color: #660066;
}
.headertop .salesuseright ul {
    margin-right: 15px;
    margin-top: 10px;
}
.headertop .salesuseright ul li h3:hover {
    background-color: #FFFFFF;
    box-shadow: 0 12px 4px rgba(46, 32, 30, 0.25);
}
.headertop .salesuseright ul li h3 a {
    color: #FFFFFF;
    float: left;
    font-family: "futuram";
    font-size: 16px;
    font-weight: bold;
    line-height: 30px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}
.headertop .salesuseright ul li h3 a:hover {
    color: #ED6519;
}
.midbox {
    margin-top: 15px;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.menumidback {
background: none repeat scroll 0 0 #A08BBA;
    height: 30px;
}
.mainmenu {
    margin-left: 10px;
}
.mainmenu li {
    float: left;
    height: 20px;
    list-style: none outside none;
    margin-left: 5px;
    margin-top: 4px;
    padding: 3px 40px;
}
.mainmenu a {
    color: #F3F3F3;
    font-family: "futuram";
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    padding: 0 5px;
    text-decoration: none;
}
.activex {
    background: none repeat scroll 0 0 #660066  ;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.activex a {
    color: #FFFFFF;
}
.aline {
    background-color: #FA870B;
    padding: 0 1%;
    width: 100%;
}
.hrline {
    background-color: #660066 ;
    height: 3px;
    width: 100%;
}
.content {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #DEDEDE;
    overflow: hidden;
    padding: 10px 0;
    width: 100%;
}
.itemsleft {
    border-right: 1px solid #B1B1B3;
    float: left;
    width: 224px;
}
.itemsleft .createnew1 {
    background: url("../images/createnewback.jpg") no-repeat scroll 0 0 transparent;
    height: 43px;
    margin-left: 5px;
    padding-bottom: 10px;
    width: 215px;
}
.itemsleft .createnew1 h2 {
    color: #FFFFFF;
    cursor: pointer;
    font-family: "futuram";
    font-size: 14px;
    line-height: 40px;
    margin-left: 15px;
    text-align: left;
}
.itemsleft ul {
    padding-bottom: 15px;
    padding-left: 14px;
}
.itemsleft li {
    background: none repeat scroll 0 0 #A08BBA ;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 1px 1px 1px #888888;
    display: table;
    list-style: none outside none;
    margin-top: 5px;
    padding-bottom: 5px;
    padding-top: 10px;
    position: relative;
    width: 200px;
}
.itemsleft li:first-child {
    background: none repeat scroll 0 0 #660066;
    padding-bottom: 0;
    padding-top: 0;
}
.itemsleft li p {
    color: #FFFFFF;
    font-family: "futuram";
    font-size: 14px;
    font-weight: bold;
    padding: 5px 10px;
}
.itemsleft li a {
    color: #f9f7f7;
    font-family: "futuram";
    font-size: 14px;
    line-height: 30px;
    padding: 0 10px 10px;
}
.itemsleft li img {
    float: left;
    margin-left: 10px;
}
.itemsleft h3 {
    background: none repeat scroll 0 0 #A5CF3F;
    border-radius: 7px 7px 7px 7px;
    line-height: 40px;
    margin-left: 14px;
    overflow: hidden;
    position: relative;
    width: 200px;
}
.itemsleft h3 a {
    color: #000;
}
.itemsleft h3 img {
    float: left;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
}
.rightitems {
    overflow: hidden;
    padding: 10px 0;
    width: 100%;
}
.rightitems .allrightcontents {
    padding: 0 15px;
}
.rightitems .allrightcontents .userinfo1 {
    clear: both;
    overflow: hidden;
}
.rightitems .allrightcontents .userinfo1 img {
    float: left;
    padding: 0 5px 5px 0;
}
.rightitems .allrightcontents .userinfo1 h2 {
    color: #717170;
    font-family: "futuram";
    font-size: 16px;
    font-weight: 100;
    padding-top: 5px;
}
.rightitems .allrightcontents .userinfo1 p {
    color: #565655;
    font-family: "Times New Roman",Times,serif;
    font-size: 14px;
    padding-top: 5px;
}
.rightitems .allrightcontents .newuser1 {
	background-color:#fff;

    border: 1px solid #A9A9A8;
    margin-top: 15px;
    padding: 10px 0;
    position: relative;
    width: 100%;
}
.boxbacktopleft {
    left: -1px;
    position: absolute;
    top: -1px;
    z-index: 14;
}
.boxbacktopright {
    position: absolute;
    right: -1px;
    top: -1px;
    z-index: 15;
}
.boxbackbottomleft {
    bottom: -1px;
    position: absolute;
    right: -1px;
    z-index: 16;
}
.boxbackbottomright {
    bottom: -1px;
    left: -1px;
    position: absolute;
    z-index: 17;
}
.dashboardinfo {
    margin: 10px;
    width: 98%;
}
.dashboardinfo tr td h2 {
    color: #000000;
    font-family: "futuram";
    font-size: 16px;
}
.dashboardinfo tr td a {
    color: #A08BBA;
    float: right;
    font-family: "futuram";
    font-size: 12px;
    text-decoration: underline;
}
.dashboardinfo tr td select {
    float: right;
}
.dashboardinfo tr td .bottom12 {
	background:url(../images/refresh.jpg) no-repeat center;


    color: #000000;
    cursor: pointer;
    float: left;
    font-family: "futuram";
    font-size: 14px;
    font-weight: bold;
    height: 31px;
    line-height: 23px;
    margin-left: 5px;
    padding: 0 10px;
	width:45px;
}

.dashboardinfo tr td .bottom11{
    background:url(../images/refreshback.jpg) repeat-x;
    background-color:#cbcbcb;
    border:1px solid #a0a09f;
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
    color:#000;
    font-weight:bold;
    height:23px;
    line-height:23px;
    padding:0px 10px;
    _padding:0px 0px;
    *padding:0px 0px;
    _padding:0px 0px\8;
    _padding:0px 0px\9;
    border-radius:5px;
    -moz-border-radius:5px;
    cursor:pointer;
    float:left;
    margin-left:5px;
}
.blankwhite {
    background-color: #FFFFFF;
    clear: both;
    height: 1px;
    margin: 10px 0;
    overflow: hidden;
    width: 100%;
}
.newuser1 p {
    color: #757474;
    font-family: "futuram";
    font-size: 12px;
    padding: 0 12px;
}
.dashboardcontent {
    overflow: hidden;
    padding: 10px 0;
    width: auto;
}
.dashboardcontent .innerdashcontent {
    float: left;
    margin-left: 10px;
    overflow: hidden;
    padding-right: 2px;
    width: 250px;
}
.dashboardcontent .innerdashcontent .topblank {
    background-color: #A08BBA;
    height: 3px;
    width: 100%;
}
.dashboardcontent .innerdashcontent h2 {
    color: #000000;
    font-family: "futuram";
    font-size: 14px;
    padding: 5px 0;
}
.dashboardcontent .innerdashcontent .dayschedule1 {
    background: url("../images/30dayback.jpg") repeat-x scroll 0 0 #A08BBA;
    border: 1px solid #D3CEC5;
    overflow: hidden;
    text-align: center;
    width: 100%;
}
.dashboardcontent .innerdashcontent .dayschedule1 h2 a {
    color: #000000;
    font-family: "futuram";
    font-size: 12px;
}
.dashboardcontent .innerdashcontent .dayschedule2 {
    background: url("../images/30dayback.jpg") repeat-x scroll 0 0 #A08BBA;
    border: 1px solid #D3CEC5;
    overflow: hidden;
    width: 100%;
}
.dashboardcontent .innerdashcontent .dayschedule2 span {
    display: block;
    float: left;
    text-align: right;
    width: 50%;
}
.dashboardcontent .innerdashcontent .dayschedule2 span h2 a {
    color: #000000;
    font-family: "futuram";
    font-size: 12px;
    padding: 0 2px;
}
.dashboardcontent .innerdashcontent .dayschedule2 span:first-child {
    color: #000000;
    font-family: "futuram";
    font-size: 12px;
    text-align: left;
}
.taskheading {
    background: url("../images/30dayback.jpg") repeat-x scroll 0 0 #FDE6BF;
    border: 1px solid #CDCCCB;
    margin-top: 15px;
    min-height: 20px;
}
.taskbody {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color #CDCCCB #CDCCCB;
    border-image: none;
    border-right: 1px solid #CDCCCB;
    border-style: none solid solid;
    border-width: medium 1px 1px;
}
.taskbody p {
    background-color: #FFFFFF;
    line-height: 40px;
    text-align: center;
}
.shcedulesbox {
    border-bottom: 1px solid #999797;
    overflow: hidden;
    padding-top: 20px;
    width: 100%;
}
.shcedulesbox .scheduletabs {
    float: left;
    padding-left: 20px;
}
.shcedulesbox .scheduletabs li {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #D9D9D9;
    border-bottom: medium none !important;
    border-image: none;
    border-left: 1px solid #8C8C8C;
    border-right: 1px solid #8C8C8C;
    border-top: 1px solid #8C8C8C;
    float: left !important;
    height: 26px;
    list-style: none outside none;
    margin-left: 1px;
    position: relative;
    text-align: left;
    width: inherit;
    z-index: 10;
}
.activelisttab {
    background-color: #FFFFFF !important;
}
.shcedulesbox .scheduletabs li a {
    color: #000000;
    display: block;
    float: left;
    font-family: "futuram";
    font-size: 12px;
    font-weight: bold;
    line-height: 26px;
    padding: 0 15px;
    text-align: center;
    text-decoration: none;
}
.shcedulesbox2 {
    border-bottom: 1px solid #000000;
    overflow: hidden;
    padding-top: 20px;
    width: 100%;
}
.shcedulesbox2 p {
    color: #000000;
    font-family: "futuram";
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 5px;
}
.shcedulesbox3 {
    border-bottom: 1px solid #999999;
    overflow: hidden;
    padding-bottom: 5px;
    padding-top: 20px;
    width: 100%;
}
.shcedulesbox3 p {
    font-family: "futuram";
    font-size: 12px;
}
.shcedulesbox3 p span:first-child {
    padding-right: 20px;
}
.calindardetail {
    clear: both;
    float: right;
    margin: 5px;
    overflow: hidden;
    width: 100%;
}
.calindardetail ul {
    float: right;
    padding-right: 15px;
    padding-top: 10px;
}
.calindardetail ul li {
    float: left !important;
    list-style: none outside none;
    margin-left: 3px;
    padding-left: 0;
    width: 25px;
}
.rightrow1 {
    left: 0;
    margin: 0 !important;
    padding: 0 !important;
    position: absolute;
    top: 0;
}
.rightrow2 {
    margin: 0 !important;
    padding: 0 !important;
    position: absolute;
    right: 0;
    top: 0;
}
.rightrow3 {
    bottom: 0;
    left: 0;
    margin: 0 !important;
    padding: 0 !important;
    position: absolute;
}
.rightrow4 {
    bottom: 0;
    margin: 0 !important;
    padding: 0 !important;
    position: absolute;
    right: 0;
}
.displayinfohere {
    background-color: #FFFFFF;
    border: 1px solid #999999;
    display: none;
    height: 123px;
    left: 213px;
    position: absolute;
    top: -50px;
    width: 302px;
    z-index: 1100;
}
.chatterpage {
    float: left;
    overflow: hidden;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-top: 15px;
    width: 960px;
}
.chatterpage .chatter-company {
    overflow: hidden;
    padding-bottom: 15px;
    width: 960px;
}
.chatterpage .chatter-company h2 {
    color: #646565;
    float: left;
    font-family: "futuram";
    font-size: 24px;
}
.chatterpage .chatter-company a {
    background: url("../images/helpicon1.jpg") no-repeat scroll right top transparent;
    color: #A08BBA;
    float: right;
    font-family: "futuram";
    font-size: 12px;
    line-height: 25px;
    padding-right: 25px;
}
.chatterpage .chatterleftcontent {
    float: left;
    overflow: hidden;
    padding-right: 10px;
    width: 203px;
}
.chatterpage .chatterleftcontent .chatteruserinfo1 {
    width: 100%;
}
.chatterpage .chatterleftcontent .chatteruserinfo1 img {
    float: left;
    padding: 0 5px 5px 0;
}
.chatterpage .chatterleftcontent .chatteruserinfo1 h2 {
    color: #FAA30A;
    font-family: arial;
    font-size: 14px;
    line-height: 40px;
}
.chatterpage .chatterleftcontent .chatterrecent-chat1 {
    clear: both;
    padding: 10px 0;
    width: 100%;
}
.chatterrecent-chat1 p {
    color: #3C3C3B;
    font-family: "futuram";
    font-size: 12px;
}
.chatterrecent-chat1 span {
    clear: both;
    display: block;
    overflow: hidden;
    width: 100%;
}
.chatterrecent-chat1 span p {
    color: #959594;
    float: left;
    font-family: "futuram"colco;
    font-size: 11px;
}
.chatterrecent-chat1 span a {
    color: #0952AC;
    float: right;
    font-family: "futuram";
    font-size: 11px;
    font-style: italic;
    font-weight: bold;
}

.new-clear
{background:url(../images/clear.jpg) no-repeat !important;
height:25px;
width:25px;
text-indent:28px;

}


.hideMe
{background:url(../images/clear.jpg) no-repeat !important;
height:25px;
width:25px;
text-indent:28px;

}
.chatterleftitems {
    border-bottom: 1px solid #CFCFCE;
    padding: 5px 0;
    width: 100%;
}
.chatterleftitems .chatterindividual-items {
    clear: both;
    height: 30px;
    overflow: hidden;
}
.activectr {
    background-color: #A08BBA;
	color:#fff !important;
}
.chatterleftitems .chatterindividual-items div {
    display: block;
    float: left;
    width: 30px;
}
.chatterleftitems .chatterindividual-items div img {
    float: left;
    padding: 0 5px 5px 0;
}
.chatterleftitems .chatterindividual-items a {
    border-radius: 8px 8px 8px 8px;
    color: #3C3C3B;
    float: left;
    font-family: "futuram";
    font-size: 14px;
    padding: 3px 5px;
}
.chatterleftitems .chatterindividual-items span {
    background-color: #660066;
    border-radius: 8px 8px 8px 8px;
    color: #FFFFFF;
    margin-left: 5px;
    padding: 1px 3px;
}
.chatterrightcontent {
    background: none repeat scroll 0 0 #F8F8F8;
    border: 1px solid #CFCFCE;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 2px 2px 2px rgba(50, 50, 50, 0.25);
    display: table;
    float: left;
    padding: 15px 0 !important;
    width: 571px;
	margin-left:70px !important;
}

.chatterrightcontent123 {
   

    display: table;
    float: left;
    padding: 15px 0 !important;
    width: 571px;
	margin-left:70px !important;
}
.chatterrightcontent .inner-chatterrightcontent {
    margin: 0 auto;
    overflow: hidden;
    width: 537px;
}
.inner-chatterrightcontent .status-bar {
    border: 1px solid #B1B0AF;
    height: 31px;
    margin: 5px 0;
    width: 535px;
}
.inner-chatterrightcontent .status-bar-active {
    border: 1px solid #B1B0AF;
    height: 68px;
    margin: 5px 0 0;
    width: 535px;
}
.inner-chatterrightcontent .attach-share {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #D3D3D2;
    border-color: -moz-use-text-color #B1B0AF #B1B0AF;
    border-image: none;
    border-right: 1px solid #B1B0AF;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    height: 36px;
    width: 535px;
}
.attach-share ul li {
    border-right: 1px solid #B1B0AF;
    float: left;
    height: 36px;
    list-style: none outside none;
    margin-left: 5px;
}
.attach-share ul li img {
    float: left;
    padding: 0 3px;
}
.attach-share ul li p {
    float: left;
    line-height: 34px;
}
.attach-share ul li a {
    color: #5D5D5C;
    font-family: "futuram";
    font-size: 14px;
    font-weight: bold;
    line-height: 34px;
    padding: 0 5px;
}
.sharebutton {
    background: url("../images/sharebutton-right.jpg") repeat-x scroll 0 0 transparent;
    border: 1px solid #7E7D7B;
    color: #807E7E;
    float: right;
    font-family: "futuram";
    font-size: 12px;
    font-weight: bold;
    margin-right: 15px;
    margin-top: 5px;
    overflow: hidden;
    padding: 2px 10px;
}
.hrline1 {
    border-top: 1px solid #C4C2C2;
    height: 1px;
    margin: 15px 0;
    width: 100%;
}
.chatterupdates {
    margin: 0 auto;
    width: 535px;
}
.chatterupdates .heading-chatterupdate {
    overflow: hidden;
    width: 100%;
}
.chatterupdates .heading-chatterupdate h2 {
    background: url("../images/ico3.jpg") no-repeat scroll right center transparent;
    color: #646565;
    cursor: pointer;
    float: left;
    font-family: "futuram";
    font-size: 18px;
    padding-bottom: 5px;
    padding-left: 0;
    padding-right: 15px !important;
    padding-top: 5px;
}
.chatterupdates .content-chatterupdate {
    display: table;
    width: 100%;
}
.content-chatterupdate .info-chatter1 {
    display: table;
    padding-top: 10px;
}
.content-chatterupdate .info-chatter1 img {
    float: left;
    padding: 0 10px 5px 0;
}
.info-chatter1 .chatterinf0-detail1 {
    float: left;
    overflow: hidden;
    width: 478px;
}
.info-chatter1 .chatterinf0-detail1 span {
    display: block;
    float: right;
    padding: 0 0 5px 10px;
}
.info-chatter1 .chatterinf0-detail1 h2 {
    color: #FAA30A;
    float: left;
    font-family: "futuram";
    font-size: 12px;
    padding: 0 10px 5px 0;
}
.info-chatter1 .chatterinf0-detail1 p {
    color: #3C3C3B;
    font-family: "futuram";
    font-size: 11px;
}
.info-chatter1 .chatterinf0-detail1 .timeandshare1 {
    clear: both;
    float: left;
    overflow: hidden;
}
.info-chatter1 .chatterinf0-detail1 .timeandshare1 div {
    float: left;
}
.info-chatter1 .chatterinf0-detail1 .timeandshare1 div a {
    color: #959594;
    float: left !important;
    font-family: "futuram";
    font-size: 11px;
    margin: 0 5px;
}
.info-chatter1 .chatterinf0-detail1 .timeandshare1 p {
    color: #0952AC;
    float: left;
    font-family: "futuram";
    font-size: 11px;
    font-style: italic;
    font-weight: bold;
    margin: 0 5px;
}
.subcomment {
    background-color: #E6E6E5;
    display: table;
    float: right;
    margin: 8px 18px 0 0;
    padding-bottom: 15px;
    position: relative;
    width: 456px;
}
.subcomment .toparrow {
    left: 15px;
    margin-top: -7px;
    position: absolute;
}
.subcomment-content {
    margin: 0 auto;
    overflow: hidden;
    padding: 5px 0;
    width: 442px;
}
.subcomment-content img {
    float: left;
}
.subchatterinf0-detail1 {
    float: left;
    overflow: hidden;
    width: 392px;
}
.subchatterinf0-detail1 span {
    display: block;
    float: right;
    padding: 0 0 5px 10px;
}
.subchatterinf0-detail1 h2 {
    color: #FAA30A;
    float: left;
    font-family: "futuram";
    font-size: 12px;
    padding: 0 10px 5px 0;
}
.subchatterinf0-detail1 p {
    color: #3C3C3B;
    font-family: "futuram";
    font-size: 11px;
}
.subchatterinf0-detail1 .timeandshare1 {
    clear: both;
    float: left;
    overflow: hidden;
}
.subchatterinf0-detail1 .timeandshare1 div {
    float: left;
}
.subchatterinf0-detail1 .timeandshare1 div a {
    color: #959594;
    float: left !important;
    font-family: "futuram";
    font-size: 11px;
    margin: 0 5px;
}
.subchatterinf0-detail1 .timeandshare1 p {
    color: #0952AC;
    float: left;
    font-family: "futuram";
    font-size: 11px;
    margin: 0 5px;
}
.subchatterinf0-detail1 .timeandshare1 .subliked {
    background: url("../images/liked.jpg") no-repeat scroll 0 0 transparent;
    color: #5C5C5C;
    display: block;
    float: left;
    font-family: "futuram";
    font-size: 12px;
    margin-left: 10px;
    padding-left: 15px;
}
.substatus-bar {
    border: 1px solid #B1B0AF;
    height: 31px;
    width: 439px;
}
.substatus-bar-active {
    border: 1px solid #B1B0AF;
    float: inherit !important;
    height: 68px;
    margin: inherit !important;
    width: 394px;
}
.sub-commentboxes {
    display: table;
    margin: 0 auto;
    width: 442px;
}
.subattach-sub {
    border-top: medium none;
    float: right;
    padding-top: 5px;
    position: relative;
    width: 395px;
}
.subattach-sub .subsharebutton {
    background: url("../images/sharebutton-right.jpg") repeat-x scroll 0 0 transparent;
    border: 1px solid #7E7D7B;
    color: #807E7E;
    float: right;
    font-family: "futuram";
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
    margin-right: 15px;
    margin-top: 5px;
    padding: 3px 5px;
}
.subattach-sub p {
    background: url("../images/attachement.jpg") no-repeat scroll 0 0 transparent;
    color: #515050;
    cursor: pointer;
    display: block;
    float: left;
    font-family: "futuram";
    font-size: 13px;
    line-height: 25px;
    padding-left: 25px;
}
subcomment-boxes1 {
    display: table;
}
.status-uploadfiles {
    width: 100px;
}
.attachfile-2 {
    border: 1px solid #999999;
    width: 535px;
}
.attachfile-inner2 {
    overflow: hidden;
}
.attachfile-inner2 h2 {
    color: #333333;
    float: left;
    font-family: "futuram";
    font-size: 16px;
    padding: 3px 0 0 5px;
}
.attachfile-inner2 span {
    color: #999999;
    cursor: pointer;
    display: block;
    float: right;
    font-family: "futuram";
    font-size: 14px;
    font-weight: bold;
    padding-right: 5px;
    padding-top: 3px;
}
.attachfile-2-content {
    border-top: 1px solid #999999;
    margin: 5px 0;
    overflow: hidden;
}
.attachfile-2-content-left {
    float: left;
    overflow: hidden;
    width: 267px;
}
.attachfile-2-content-left:first-child {
    border-right: 1px solid #999999;
}
.attachfile-2-content-left a {
    color: #0099FF;
    display: block;
    font-family: "futuram";
    font-size: 14px;
    padding: 10px;
    text-align: center;
}
.profilepage-pg1 {
    border: 1px solid #C7C4C4;
    margin: 25px auto;
    overflow: hidden;
    padding: 15px;
    width: 809px;
}
.profilepage-pg1 .profile-pgtitle {
    border-bottom: 1px solid #B7B6B6;
    clear: both;
    float: left;
    overflow: hidden;
}
.profile-pgtitle img {
    float: left;
}
.profile-pgtitle h2 {
    color: #787878;
    float: left;
    font-family: "futuram";
    font-size: 14px;
}
.profile-pgtitle h3 {
    color: #660066 ;
    float: left;
    font-family: "futuram";
    font-size: 18px;
}
.profile-userthumb {
    border: 1px solid #C8C5C5;
    clear: both;
    float: left;
    height: 211px;
    margin: 15px 0;
    position: relative;
    width: 221px;
}
.thumber-addimage {
    background-color: #CCCCCC;
    bottom: 0;
    color: #666666;
    cursor: pointer;
    display: none;
    font-family: "futuram";
    font-size: 12px;
    line-height: 20px;
    overflow: hidden;
    position: absolute;
    text-align: center;
    width: 100%;
}
.profile-userthumb .info-modinator {
    background-color: #FFA30D;
    height: 26px;
    text-align: center;
    width: 100%;
}
.info-modinator h2 {
    background: url("../images/modinfo.jpg") no-repeat scroll 159px center transparent;
    color: #FFFFFF;
    display: block;
    font-family: "futuram";
    font-size: 18px;
    line-height: 26px;
    text-align: center;
}
.profilepage-pg1 .profile-pgleft {
    float: left;
    overflow: hidden;
    width: 226px;
}
.profile-pg-content {
    clear: both;
    overflow: hidden;
}
.profile-pgright {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #D9D9D9 #D9D9D9 -moz-use-text-color;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 1px medium;
    float: left;
    margin-left: 15px;
    margin-top: 15px;
    width: 560px;
}
.profile-pgright .profile-mid-heading {
    background: url("../images/profile-heading.jpg") repeat-x scroll 0 0 transparent;
    border-bottom: 1px solid #D9D9D9;
    height: 29px;
    width: 100%;
}
.profile-mid-heading h2 {
    color: #7F7F7E;
    float: left;
    font-family: "futuram";
    font-size: 18px;
    line-height: 29px;
    padding-left: 10px;
}
.profile-mid-heading img {
    cursor: pointer;
    float: left;
    padding: 2px 0 0 10px;
}
.profile-mid-info {
    background-color: #FFFFFF;
    border-bottom: 1px solid #D9D9D9;
    overflow: hidden;
    padding: 10px 0 0;
    width: 100%;
}
.profile-mid-info div {
    clear: both;
}
.profile-mid-info ul {
    padding-bottom: 15px;
}
.profile-mid-info ul li {
    list-style: none outside none;
    overflow: hidden;
}
.profile-mid-info div p {
    color: #686868;
    float: left;
    font-family: "futuram";
    font-size: 14px;
    line-height: 24px;
    padding: 0 15px;
}
.profile-mid-info div span {
    color: #01519B;
    float: left;
    font-family: "futuram";
    font-size: 14px;
    line-height: 24px;
    padding: 0 15px;
}
.profile-mid-info div h6 {
    color: #B5B5B5;
    float: left;
    font-family: "futuram";
    font-size: 14px;
    font-weight: 100;
    line-height: 24px;
    padding: 0 15px;
}
.profile-mid-heading2 {
    height: 29px;
    margin-top: 40px;
    width: 100%;
}
.profile-mid-heading2 h2 {
    color: #7F7F7E;
    float: left;
    font-family: "futuram";
    font-size: 18px;
    line-height: 29px;
    padding-left: 10px;
}
.profile-mid-heading2 img {
    cursor: pointer;
    float: left;
    padding: 2px 0 0 10px;
}
.profile-mid-info h5 {
    color: #939392;
    font-family: "futuram";
    font-size: 14px;
    font-weight: 100;
    padding: 0 15px;
}
.profilemid-groups {
    clear: both;
    float: left;
    margin: 5px 15px;
    overflow: hidden;
}
.profilemid-groups img {
    float: left;
}
.profilemid-groups div {
    clear: none;
    overflow: hidden;
}
.profilemid-groups div p {
    clear: both;
    color: #015BA7;
    display: block;
    font-family: "futuram";
    font-size: 12px;
    line-height: inherit;
    padding: 0 10px;
}
.profilemid-groups div span {
    color: #939392;
    display: block;
    font-family: "futuram";
    font-size: 12px;
    line-height: inherit;
    padding: 0 10px;
}
.profile-mid-heading2 h4 {
    color: #015BA7;
    cursor: pointer;
    float: left;
    font-family: "Times New Roman",Times,serif;
    font-size: 12px;
    font-weight: 100;
    line-height: 29px;
    padding-left: 10px;
}
.grouppage-pg1 {
    float: left;
    overflow: hidden;
    padding: 20px;
    width: 100%;
}
.grouppage-pg1 .left-createnv {
    border: 1px solid #D3D3D3;
    border-radius: 27px 27px 27px 27px;
    float: left;
    overflow: hidden;
    padding: 10px;
    width: 231px;
}
.left-createnv img {
    float: left;
    overflow: hidden;
}
.left-createnv h2 {
    color: #565757;
    float: left;
    font-family: "futuram";
    font-size: 26px;
    font-weight: 100;
    margin-left: 15px;
    overflow: hidden;
}
.left-createnv .crt-gp-gpleft input {
    background: url("../images/addgroupbutton.png") no-repeat scroll 0 0 transparent;
    clear: both;
    height: 65px;
    margin: 56px auto 30px;
    width: 228px;
	border:none;
	cursor:pointer;
	font-weight:bold;
	padding-left:29px;

}
.crt-gp-gpleft input[type="button"] {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    color: #848585;
    cursor: pointer;
    font-family: "futuram";
    font-size: 24px;
    height: 60px;
    line-height: 60px;
    padding-left: 82px;
    text-align: left;
    text-shadow: -1px -1px white, 1px 1px #FFFFFF;
    width: 228px;
}
.left-createnv .recently-viewed-lft {
    margin: 0 auto;
    overflow: hidden;
    padding-bottom: 15px;
    width: 228px;
}
.recently-viewed-lft ul {
    padding-left: 10px;
}
.recently-viewed-lft li {
    list-style: none outside none;
    margin-top: 5px;
}
.recently-viewed-lft a {
    color: #333333;
    font-family: "futuram";
    font-size: 14px;
}
.boldfor-rgroup {
    font-weight: bold;
}
.group-box-rgt-all {
    float: left;
    margin-left: 25px;
    overflow: hidden;
    padding: 20px;
    width: 627px;
}
.group-box-rgt-all h2 {
    clear: both;
    color: #333333;
    display: block;
    font-family: "futuram";
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
}
.group-box-rgt-all input[type="text"] {
    background: url("../images/searchone.jpg") no-repeat scroll 3px center #FFFFFF;
    border: 1px solid #A0A09F;
    color: #CCCCCC;
    height: 25px;
    margin: 5px 0;
    padding-left: 25px;
    width: 234px;
}
.black-black {
    color: #000000 !important;
}
.group-page-grouplist-rgt {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #A0A09F #A0A09F -moz-use-text-color;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 1px medium;
    margin: 15px 0;
    overflow: hidden;
    width: 620px;
}
.group-page-grouplist-rgt .group-titles-divs {
    background: url("../images/grouptitleback.jpg") repeat-x scroll 0 0 transparent;
    border-bottom: 1px solid #A0A09F;
    height: 31px;
    width: 620px;
}
.group-titles-divs .first-grouptitle-name {
    float: left;
    overflow: hidden;
    padding-left: 8px;
    width: 353px;
}
.first-grouptitle-name h2 {
    color: #000000;
    font-family: "futuram";
    font-size: 14px;
    line-height: 31px;
}
.group-titles-divs .second-grouplasta-name {
    border-left: 1px solid #A0A09F;
    float: left;
    overflow: hidden;
    padding-left: 8px;
    width: 112px;
}
.second-grouplasta-name h2 {
    color: #000000;
    font-family: "futuram";
    font-size: 14px;
    line-height: 31px;
}
.group-titles-divs .third-groupmember-name {
    border-left: 1px solid #A0A09F;
    overflow: hidden;
    padding-left: 8px;
    width: 129px;
}
.third-groupmember-name h2 {
    color: #000000;
    font-family: "futuram";
    font-size: 14px;
    line-height: 31px;
}
.group-page-grouplist-rgt .grouplist-down {
    border-bottom: 1px solid #A0A09F;
    clear: both;
    overflow: hidden;
    width: 620px;
}
.grouplist-down .gplist-down-first {
    float: left;
    overflow: hidden;
    padding: 4px 8px;
    width: 345px;
}
.userimg-group {
    float: left;
    overflow: hidden;
    padding: 5px 5px 0 0;
}
.userimg-group img {
    border: 1px solid #D4DADC;
}
.user-info-gp-list {
    float: left;
    overflow: hidden;
    width: 290px;
}
.userinfo-gp-list-title {
    overflow: hidden;
}
.userinfo-gp-list-title a h2 {
    color: #005093;
    font-family: "futuram";
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
}
.userinfo-gp-list-decpt {
    max-height: 49px;
    overflow: hidden;
}
.userinfo-gp-list-decpt p {
    color: #7A7A7A;
    font-family: "futuram";
    font-size: 13px;
    white-space: inherit;
}
.userinfo-gp-list-memb {
    overflow: hidden;
}
.userinfo-gp-list-memb p {
    color: #000000;
    font-family: "futuram";
    font-size: 12px;
    padding-top: 3px;
    white-space: nowrap;
}
.userinfo-gp-list-owner {
    overflow: hidden;
}
.userinfo-gp-list-owner p {
    color: #000000;
    float: left;
    font-family: "futuram";
    font-size: 12px;
    padding-top: 3px;
    white-space: nowrap;
}
.userinfo-gp-list-owner span {
    color: #045395;
    font-family: "futuram";
    font-size: 12px;
    padding-left: 5px;
    padding-top: 3px;
    white-space: nowrap;
}
.gplist-down-second {
    float: left;
    overflow: hidden;
    padding-left: 8px;
    width: 112px;
}
.gplist-down-second p {
    color: #000000;
    font-family: "futuram";
    font-size: 12px;
    padding-top: 3px;
    white-space: nowrap;
}
.gplist-down-third {
    float: left;
    overflow: hidden;
    padding-left: 8px;
    width: 129px;
}
.gplist-down-third p {
    color: #000000;
    font-family: "futuram";
    font-size: 12px;
    padding-top: 3px;
    white-space: nowrap;
}
.new-group-content-main {
    background-color: #FFFFFF;
    border: 1px solid #A0A09F;
    margin: 15px 1%;
    overflow: hidden;
    width: 98%;
}
.new-group-content-main .ng-heading-img {
    float: left;
    overflow: hidden;
    padding: 20px 15px;
}
.ng-heading-img img {
    float: left;
    padding-top: 5px;
}
.ng-heading-img h2 {
    color: #565757;
    display: block;
    float: left;
    font-family: "futuram";
    font-size: 26px;
    font-weight: 100;
    padding-left: 5px;
}
.ng-heading-img div {
    float: left;
    overflow: hidden;
}
.ng-heading-img div h3 {
    clear: both;
    color: #565757;
    display: block;
    float: left;
    font-family: "futuram";
    font-size: 16px;
    font-weight: bold;
    line-height: 16px;
    padding-left: 5px;
}
.new-group-basic-inf-access {
    clear: both;
    float: left;
    padding: 15px;
}
.new-group-basic-inf-access h2 {
    color: #A0A09F;
    font-family: "futuram";
    font-size: 26px;
    font-weight: 100;
    line-height: 32px;
    padding: 5px;
}
.new-group-basic-inf-access table {
    border: medium none;
    clear: both;
}
.new-group-basic-inf-access table tr {
}
.new-group-basic-inf-access table tr td {
    vertical-align: top;
}
.new-group-basic-inf-access table tr td p {
    color: #5D5D5B;
    font-family: "futuram";
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
    white-space: nowrap;
}
.new-group-basic-inf-access table tr td input[type="text"] {
    border: 1px solid #7F9DB9;
    height: 19px;
    margin: 5px;
    width: 182px;
}
.new-group-basic-inf-access table tr td a p {
    color: #F38109;
    font-family: "futuram";
    font-size: 18px;
    font-weight: 100;
    padding: 5px;
}
.new-group-basic-inf-access table tr td textarea {
    border: 1px solid #7F9DB9;
    height: 119px;
    margin: 5px;
    width: 554px;
}
.new-group-basic-inf-access table tr td input[type="radio"] {
    float: left;
    margin: 5px;
}
.new-group-basic-inf-access table tr td span {
    color: #7A7A7A;
    display: block;
    font-family: "futuram";
    font-size: 14px;
    overflow: hidden;
    padding: 5px;
}
.new-group-basic-inf-access table tr td input[type="checkbox"] {
    float: left;
    margin: 5px;
}
.new-group-basic-inf-access table tr td h4 {
    color: #7A7A7A;
    float: left;
    font-family: "futuram";
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
}
.new-gp-sub-but {
    clear: both;
    float: left;
    padding: 15px 15px 15px 200px;
}
.crt-gp-gpleft1 {
    background: url("../images/save.jpg") no-repeat scroll 0 0 transparent;
    float: left;
    height: 81px;
    margin: 10px;
    width: 228px;
}
.crt-gp-gpleft1 input[type="submit"] {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    color: #848585;
    cursor: pointer;
    font-family: "futuram";
    font-size: 24px;
    height: 60px;
    line-height: 60px;
    padding-left: 82px;
    text-align: left;
    text-shadow: -1px -1px white, 1px 1px #FFFFFF;
    width: 228px;
}
.crt-gp-gpleft2 {
    background: url("../images/cancle.jpg") no-repeat scroll 0 0 transparent;
    float: left;
    height: 81px;
    margin: 10px;
    width: 228px;
}
.crt-gp-gpleft2 input[type="reset"] {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    color: #848585;
    cursor: pointer;
    font-family: "futuram";
    font-size: 24px;
    height: 60px;
    line-height: 60px;
    padding-left: 82px;
    text-align: left;
    text-shadow: -1px -1px white, 1px 1px #FFFFFF;
    width: 228px;
}
.file-pg-content-dv {
    float: left;
    overflow: hidden;
    padding: 15px;
}
.file-pg-content-dv h2 {
    clear: both;
    color: #434242;
    display: block;
    font-family: "futuram";
    font-size: 19px;
    line-height: 30px;
    padding: 10px 0;
}
.file-pg-content-dv .left-filepg-contleft {
    border-right: 1px solid #C1C1C0;
    float: left;
    overflow: hidden;
    padding-right: 10px;
}
.left-filepg-contleft ul li a span {
    color: #000000;
    display: block;
    font-family: "futuram";
    font-size: 14px;
    margin: 7px 0;
    padding-left: 10px;
    padding-right: 10px;
    white-space: nowrap;
}
.left-filepg-contleft ul li {
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
    width: 249px;
}
.left-filepg-contleft ul li ul li {
    overflow: hidden;
}
.left-filepg-contleft ul li ul li a span {
    color: #999999;
    display: block;
    font-size: 12px;
    line-height: 19px;
    margin: 0 0 0 10px;
    padding-left: 10px;
    padding-right: 10px;
    white-space: nowrap;
}
.libackground-onhover {
    background-color: #A08BBA;
}
.div-blank1 {
    clear: both;
    overflow: hidden;
    padding: 15px;
}
.left-filepg-contright {
    float: left;
    overflow: hidden;
    padding: 0 15px;
    width: 800px;
}
.left-filepg-contright .searcharea-gp-page-1 {
    background: none repeat scroll 0 0 #F0F0F0;
    border: 1px solid #848282;
    clear: both;
    float: left;
    height: 32px;
    overflow: hidden;
    padding: 0 10px;
}
.searcharea-gp-page-1 img {
    float: left;
    padding-right: 10px;
    padding-top: 5px;
}
.searcharea-gp-page-1 h2 {
    clear: right;
    color: #000000;
    float: left;
    font-family: "futuram";
    font-size: 14px;
    line-height: 32px;
    padding: 0;
    white-space: nowrap;
}
.searchnupload-gp-page1 {
    clear: both;
    float: left;
    overflow: hidden;
    padding: 15px 0;
}
.searchnupload-gp-page1 input[type="text"] {
    background: url("../images/searchfile-pg.jpg") no-repeat scroll 5px 0 transparent;
    border: 1px solid #C2C1C1;
    color: #B5B5B5;
    float: left;
    font-family: "futuram";
    font-size: 12px;
    height: 20px;
    padding-left: 20px;
    width: 279px;
}
.searchnupload-gp-page1 input[type="button"] {
    background: url("../images/searchfilebutton.jpg") repeat-x scroll 0 0 transparent;
    border: 1px solid #797979;
    border-radius: 8px 8px 8px 8px;
    color: #7E7E7E;
    cursor: pointer;
    float: left;
    font-family: "futuram";
    font-size: 14px;
    font-weight: bold;
    height: 21px;
    margin-left: 10px;
    padding: 0 7px;
}
.searchnupload-gp-page1 span img {
    float: left;
    padding-right: 10px;
}

.searchnupload-gp-page1 span {
    background: #E2E4FF;
    border: 1px solid #fff;
    border-radius: 8px 8px 8px 8px;
    color: #FFFFFF;
    cursor: pointer;
    float: left;
    font-family: "futuram";
    font-size: 12px;
    font-weight: bold;
    height: 25px;
    line-height: 25px;
    margin-left:5px;
    padding: 0 10px;
    white-space: nowrap;
}
.searchnupload-gp-page1 span a
{color:#000;
}
.file-page-flielist-rgt {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #A0A09F #A0A09F -moz-use-text-color;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 1px medium;
    clear: both;
    margin: 15px 0;
    overflow: hidden;
    width: 765px;
}
.file-page-flielist-rgt .file-titles-divs {
    background: url("../images/grouptitleback.jpg") repeat-x scroll 0 0 transparent;
    border-bottom: 1px solid #A0A09F;
    height: 31px;
    width: 765px;
}
.file-titles-divs .first-filetitle-name {
    float: left;
    overflow: hidden;
    padding-left: 8px;
    width: 67px;
}
.first-filetitle-name h2 {
    color: #000000;
    font-family: "futuram";
    font-size: 14px;
    line-height: 31px;
    padding: 0;
}
.file-titles-divs .second-filelasta-name {
    border-left: 1px solid #A0A09F;
    float: left;
    overflow: hidden;
    padding-left: 8px;
    width: 367px;
}
.second-filelasta-name h2 {
    color: #000000;
    font-family: "futuram";
    font-size: 14px;
    line-height: 31px;
    padding: 0;
}
.file-titles-divs .third-filepmember-owner {
    border-left: 1px solid #A0A09F;
    float: left;
    overflow: hidden;
    padding-left: 8px;
    width: 169px;
}
.third-filepmember-owner h2 {
    color: #000000;
    font-family: "futuram";
    font-size: 14px;
    line-height: 31px;
    padding: 0;
}
.file-titles-divs .forth-filepmember-modify {
    border-left: 1px solid #A0A09F;
    float: left;
    padding-left: 8px;
}
.forth-filepmember-modify h2 {
    color: #000000;
    font-family: "futuram";
    font-size: 14px;
    line-height: 31px;
    padding: 0;
}
.filelist-down .first-filetitle-content {
    float: left;
    overflow: hidden;
    padding: 0 8px;
    width: 59px;
}
.first-filetitle-content img {
    cursor: pointer;
    float: right;
    margin-right: 10px;
    padding-top: 5px;
}
.first-filetitle-content img:first-child {
    margin-right: 0;
}
.filelist-down .second-filelasta-content {
    float: left;
    overflow: hidden;
    padding-left: 8px;
    width: 369px;
}
.filelist-down .third-filepmember-content {
    float: left;
    overflow: hidden;
    padding-left: 8px;
    width: 169px;
}
.filelist-down .forth-filepmember-content {
    float: left;
    overflow: hidden;
    padding-left: 8px;
    width: 118px;
}
.filelist-down {
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: 1px solid #A0A09F;
    float: left;
    overflow: hidden;
    padding: 4px 0;
    width: 100%;
}
.first-filetitle-content {
}
.second-filelasta-content img {
    float: left;
}
.second-filelasta-content a p {
    color: #005093;
    display: block;
    float: left;
    font-family: "futuram";
    font-size: 12px;
    font-weight: bold;
    line-height: 24px;
    margin-left: 7px;
    max-width: 343px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.third-filepmember-content a p {
    color: #000000;
    display: block;
    float: left;
    font-family: "futuram";
    font-size: 12px;
    line-height: 24px;
    max-width: 343px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.forth-filepmember-content a p {
    color: #000000;
    display: block;
    float: left;
    font-family: "futuram";
    font-size: 12px;
    line-height: 24px;
    max-width: 343px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.lightbox-info-attachfile {
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 0 17px rgba(0, 0, 0, 0.75);
    margin: 0 auto;
    overflow: hidden;
}
.transparent-background {
    background: url("../images/trnas-back.png") repeat scroll right center transparent;
    display: none;
    height: 100%;
    position: fixed;
    width: 100%;
}
.lightbox-info-attachfile-head {
    background: none repeat scroll 0 0 #F4F4F4;
    height: 42px;
    width: 100%;
}
.lightbox-info-attachfile-head h2 {
    color: #000000;
    float: left;
    font-family: "futuram";
    font-size: 14px;
    line-height: 42px;
    padding-left: 15px;
}
.lightbox-info-attachfile-head span {
    color: #999999;
    cursor: pointer;
    display: block;
    float: right;
    font-family: "futuram";
    font-size: 16px;
    font-weight: bold;
    line-height: 42px;
    padding: 0 10px;
}
.lightbox-info-attachfile-body {
    clear: both;
    overflow: hidden;
    padding: 10px;
}
.commenter-bar-001 {
    background-color: #CCCCCC;
    border: 1px solid #999999;
    border-radius: 10px 10px 10px 10px;
    display: none;
    float: left;
    left: 14px;
    overflow: hidden;
    padding: 5px;
    position: absolute;
    top: 26px;
    width: 220px;
}
.commenter-bar-001 ul {
}
.commenter-bar-001 ul li {
}
.commenter-bar-001 ul li a {
    color: #FFFFFF;
    font-family: "futuram";
    font-size: 12px;
    font-weight: bold;
}
.fine-pg-internal-div-pg {
    clear: both;
    display: table;
    width: 100%;
}
.this-pg-heading-content {
    clear: both;
    float: left;
    margin-left: 15px;
    padding-bottom: 25px;
    width: 100%;
}
.this-pg-heading-content a {
    background: url("../images/file-internal-ico1.jpg") no-repeat scroll right center transparent;
    color: #7D7B7B !important;
    float: left;
    font-family: "futuram";
    font-size: 14px;
    line-height: 30px;
    padding-left: 5px;
    padding-right: 15px;
    white-space: normal;
}
.this-pg-heading-content h2 {
    background: url("../images/file-internal-ico3.jpg") no-repeat scroll left center transparent;
    color: #000000;
    float: left;
    font-family: "futuram";
    font-size: 18px;
    line-height: 30px;
    margin-left: 6px;
    padding-left: 30px;
    white-space: normal;
}
.this-pg-heading-content h3 {
    background: url("../images/fileinternal-ico4.jpg") no-repeat scroll left center transparent;
    color: #000000;
    float: left;
    font-family: "futuram";
    font-size: 14px;
    font-weight: 100;
    line-height: 30px;
    margin-left: 7px;
    padding-left: 25px;
    white-space: normal;
}
.file-pg-internal-left-dv {
    float: left;
    margin-left: 20px;
    overflow: hidden;
    width: 214px;
}
.file-pg-internal-ct-edit {
    border-bottom: 1px solid #ACABAB;
    clear: both;
    list-style: none outside none;
    overflow: hidden;
    padding-bottom: 10px;
    width: 100%;
}
.file-pg-internal-ct-edit ul {
}
.file-pg-internal-ct-edit ul li {
    clear: both;
    display: block;
    list-style: none outside none;
    padding: 8px 0;
}
.file-pg-internal-ct-edit ul li a {
}
.file-pg-internal-ct-edit ul li a img {
    float: left;
}
.file-pg-internal-ct-edit ul li a p {
    color: #525151;
    float: left;
    font-family: "futuram";
    font-size: 14px;
    padding-left: 5px;
    white-space: nowrap;
}
.user-info-int-file-pg {
    clear: both;
    float: left;
    margin: 15px 0;
    overflow: hidden;
}
.user-info-int-file-pg img {
    float: left;
}
.user-info-int-file-pg span {
    float: left;
    padding-left: 5px;
}
.user-info-int-file-pg span p {
    color: #555453;
    font-family: "futuram";
    font-size: 12px;
}
.user-info-int-file-pg span a {
    color: #015BA7;
    font-family: "futuram";
    font-size: 12px;
}
.user-info-int-file-pg h3 {
    clear: both;
    color: #999999;
    font-family: "futuram";
    font-size: 12px;
    font-weight: 100;
    line-height: 18px;
}
.version-info-int-file-pg {
    clear: both;
    margin: 15px 0;
    overflow: hidden;
}
.version-info-int-file-pg h2 {
    font-family: "futuram";
    font-size: 12px;
}
.version-info-int-file-pg a {
    color: #959493;
    font-family: "futuram";
    font-size: 12px;
}
.description-info-int-file-pg {
    clear: both;
    margin: 20px 0;
    overflow: hidden;
    width: 100%;
}
.description-info-int-file-pg .description-info-int-file-pg-int {
    border-bottom: 1px solid #ACABAB;
    overflow: hidden;
    width: 100%;
}
.description-info-int-file-pg-int h2 {
    color: #555453;
    float: left;
    font-family: "futuram";
    font-size: 12px;
}
.description-info-int-file-pg-int img {
    cursor: pointer;
    float: right;
}
.description-info-int-file-pg p {
    color: #959493;
    font-family: "futuram";
    font-size: 12px;
}
.file-pg-internal-mid-dv {
    background-color: #FFFFFF;
    border: 1px solid #AAAAAA;
    float: left;
    height: 419px;
    margin-left: 30px;
    width: 538px;
}
.file-pg-internal-mid-dv h2 {
    color: #424141;
    font-family: "futuram";
    font-size: 18px;
    line-height: 419px;
    text-align: center;
}
.file-pg-internal-right-dv {
    float: left;
    margin-left: 15px;
    overflow: hidden;
    width: 200px;
}
.file-pg-internal-right-dv-folow {
    overflow: hidden;
    width: 100%;
}
.file-pg-internal-right-followers {
    border-bottom: 1px solid #ACABAB;
    clear: both;
    float: left;
    overflow: hidden;
    padding-bottom: 3px;
    width: 100%;
}
.file-pg-internal-right-followers h2 {
    color: #6B6B6B;
    float: left;
    font-family: "futuram";
    font-size: 12px;
}
.file-pg-internal-right-followers span {
    color: #6B6B6B;
    display: block;
    float: right;
    font-family: "futuram";
    font-size: 12px;
}
.file-pg-internal-right-dv-folow ul {
    clear: both;
    overflow: hidden;
}
.file-pg-internal-right-dv-folow ul li {
    clear: both;
    list-style: none outside none;
    margin-top: 5px;
    overflow: hidden;
}
.file-pg-internal-right-dv-folow ul li a {
}
.file-pg-internal-right-dv-folow ul li a img {
    float: left;
}
.file-pg-internal-right-dv-folow ul li a p {
    color: #6B6B6B;
    float: left;
    font-family: "futuram";
    font-size: 12px;
    padding-left: 5px;
    white-space: nowrap;
}
.addimage-profile-one {
    overflow: hidden;
    width: 300px;
}
.titleofthis {
    display: none !important;
}
.upload-file-iofo01 {
    display: none;
}
.chatter-title-group-pg {
    float: left;
}
.chatter-title-group-pg a {
    background: none repeat scroll 0 0 transparent !important;
    float: left;
    padding-right: 5px !important;
}
.gp-view-ad-info {
    margin-top: 15px;
}
.gp-view-ad-info img {
    cursor: pointer;
    float: right;
}
.gp-view-ad-info h2 {
    color: #333435;
    font-size: 1em;
}
.gp-view-ad-info p {
    color: #222222;
    font-family: "futuram";
    font-size: 12px;
}
.sign-up-pg {
    background-color: #FFFFFF;
    overflow: hidden;
    padding: 50px 0;
    width: 100%;
}
.sign-up-pg-heading {
    height: 150px;
    width: 100%;
}
.wrapper-sign-up {
    margin: 0 auto;
    overflow: hidden;
    padding: 10px 0;
    width: 1020px;
}
.wrapper-sign-up .sign-up-head-panel {
    clear: both;
    overflow: hidden;
    width: 100%;
}
.sign-up-head-panel h2 {
    color: #2D2D2D;
    font-family: "futuram";
    font-size: 24px;
    line-height: 30px;
}
.sign-up-head-panel h3 {
    color: #6C6C6C;
    font-family: "futuram";
    font-size: 16px;
    line-height: 24px;
}
.wrapper-sign-up .sign-up-content-panel {
    overflow: hidden;
}
.wrapper-sign-up .sign-up-left-panel {
    background: url("../images/signup-box-back.jpg") repeat-x scroll 0 0 #FFFFFF;
    border: 1px solid #A4A4A4;
    float: left;
    margin: 15px 0;
    overflow: hidden;
    padding: 10px 10px 10px 0;
}
.sign-up-left-panel table {
    padding: 15px 0;
}
.sign-up-left-panel table tr {
}
.sign-up-left-panel table .initail-stage-pg {
    padding-right: 15px;
}
.sign-up-left-panel table tr .initail-stage-pg p {
    color: #000000;
    direction: rtl;
    font-family: "futuram";
    font-size: 14px;
    line-height: 28px;
    padding: 0 15px 0 30px;
}
.sign-up-left-panel table tr .initail-stage-pg input[type="text"] {
    border: 2px solid #83B674;
    float: left;
    height: 25px;
    margin: 5px;
    width: 199px;
}
.sign-up-left-panel table tr .initail-stage-pg input[type="password"] {
    border: 2px solid #83B674;
    float: left;
    height: 25px;
    margin: 5px;
    width: 199px;
}
.sign-up-left-panel table tr .initail-stage-pg input[type="checkbox"] {
    float: left;
    margin: 5px;
}
.sign-up-left-panel table tr .initail-stage-pg h4 {
    color: #6C6C6C;
    float: left;
    font-family: "futuram";
    font-size: 14px;
    line-height: 24px;
}
.sign-up-left-panel table tr .initail-stage-pg select {
    border: 2px solid #83B674;
    float: left;
    height: 25px;
    margin: 5px;
    width: 199px;
}
.sign-up-left-panel table tr td a {
    color: #326DB5;
    font-family: "futuram";
    font-size: 14px;
    line-height: 20px;
    text-decoration: underline;
}
.sign-up-left-panel table tr td h5 {
    background-color: #F7AA4C;
    border: 1px solid #C66F04;
    border-radius: 10px 10px 10px 10px;
    color: #FFFFFF;
    cursor: pointer;
    float: left;
    font-family: "futuram";
    font-size: 12px;
    font-weight: bold;
    margin: 10px;
    padding: 5px 30px;
}
.sign-up-left-panel table tr td samp {
    color: #000000;
    font-family: "futuram";
    font-size: 14px;
    line-height: 28px;
    padding: 0 10px;
}
.sign-up-left-panel table tr td input[type="checkbox"] {
    margin: 8px 10px;
}
.sign-up-left-panel table tr td input[type="button"] {
    background-image: url("../images/lead-savebutton-back.jpg");
    border: 1px solid #A9A3A3;
    cursor: pointer;
    float: left;
    font-size: 12px;
    font-weight: bold;
    margin: 10px !important;
    padding: 3px 10px;
}
.sign-up-left-panel table tr td div {
    margin: 10px !important;
}
.sign-up-left-panel table tr .initail-stage-pg span {
    display: none;
    float: left;
}
.sign-up-left-panel table tr .initail-stage-pg img {
    display: none;
    float: left;
}
.sign-up-left-panel table tr .initail-stage-pg1 p {
    color: #FF0000;
    direction: rtl;
    font-family: "futuram";
    font-size: 14px;
    font-weight: bold;
    line-height: 28px;
    padding: 0 15px 0 30px;
}
.sign-up-left-panel table tr .initail-stage-pg1 input[type="text"] {
    border: 2px solid #FF0000;
    float: left;
    height: 25px;
    margin: 5px;
    width: 199px;
}
.sign-up-left-panel table tr .initail-stage-pg1 input[type="checkbox"] {
    float: left;
    margin: 5px;
}
.sign-up-left-panel table tr .initail-stage-pg1 h4 {
    color: #FF0000;
    float: left;
    font-family: "futuram";
    font-size: 14px;
    line-height: 24px;
}
.sign-up-left-panel table tr .initail-stage-pg1 select {
    border: 2px solid #FF0000;
    float: left;
    height: 25px;
    margin: 5px;
    width: 199px;
}
.sign-up-left-panel table tr .initail-stage-pg1 span {
    color: #FF0000;
    display: none;
    font-family: "futuram";
    font-size: 12px;
}
.sign-up-left-panel table tr .initail-stage-pg1 img {
    display: none;
    float: left;
}
.profile-pg-contact-info {
    display: none;
    overflow: hidden;
    width: auto;
}
.act-cont-fh {
    height: 300px;
    overflow: auto;
    width: 400px;
}
.act-cont-fh table {
}
.act-cont-fh table tr {
}
.act-cont-fh table tr td {
    margin: 5px 0;
}
.act-cont-fh table tr td p {
    color: #4A4A56;
    float: right;
    font-size: 0.91em;
    font-weight: bold;
    padding-right: 10px;
    text-align: right;
    width: 150px;
}
.act-cont-fh table tr td p span {
    color: #FF0000;
}
.act-cont-fh table tr td input[type="text"] {
    background-color: white;
    border: 2px inset;
    cursor: auto;
    margin: 5px;
    padding: 1px;
    width: 200px;
}
.act-cont-fh table tr td a {
    color: #015BA7;
    font-family: "futuram";
    font-size: 14px;
    text-decoration: underline;
}
.act-cont-fh table tr td input[type="button"] {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #B5B5B5 #B5B5B5 #7F7F7F;
    border-image: none;
    border-radius: 3px 3px 3px 3px;
    border-style: solid;
    border-width: 1px;
    color: #333333;
    cursor: pointer;
    font-size: 0.9em;
    font-weight: bold;
    margin: 10px;
    padding: 2px 3px;
}
.act-cont-fh table tr td textarea {
    background-color: white;
    border: 1px solid;
    cursor: auto;
    height: 227px;
    padding: 2px;
    white-space: pre-wrap;
    width: 379px;
    word-wrap: break-word;
}
.Quick-create-lds {
    clear: both;
    overflow: hidden;
    padding: 10px 10px 10px 0;
}
.Quick-create-lds .qc-head {
    background: none repeat scroll 0 0 #660066;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 4px 4px 2px rgba(50, 50, 50, 0.3);
    clear: both;
    overflow: hidden;
    padding: 10px;
    width: 200px;
}
.Quick-create-lds .qc-head {
    width: 220px;
}
.Quick-create-lds .qc-head h2 {
    color: #FFFFFF;
    font-family: "futuram";
    font-size: 14px;
    font-weight: bold;
}
.Quick-create-lds .qc-boyd-s {
    background: none repeat scroll 0 0 #a99dba;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 4px 4px 2px rgba(50, 50, 50, 0.3);
    clear: both;
    margin-top: 1px;
    overflow: hidden;
    padding: 10px;
    width: 200px !important;
}
.qc-boyd-s table tr td p {
    color: #000;
    font-family: "futuram";
    font-size: 14px;
    padding-bottom: 3px;
}
.qc-boyd-s table tr td input[type="text"] {
    border: 1px solid #7F9DB9;
    float: left;
    height: 19px;
    margin-bottom: 6px;
    width: 153px;
}
.qc-boyd-s table tr td a img {
    margin-left: 5px;
}
.qc-boyd-s table tr td input[type="button"] {
    background: url("../images/lead-savebutton-back.jpg") repeat-x scroll 0 0 transparent;
    border: 1px solid #A9A3A3;
    color: #545453;
    cursor: pointer;
    font-family: "futuram";
    font-size: 12px;
    padding: 3px 10px;
}
.margin-top-p {
    border-right: medium none;
    margin-top: 10px;
}
.border-none-ld-left {
    border: medium none !important;
}
.ld-pg-wd {
    float: left;
    margin: 0 0.6%;
    overflow: hidden;
    padding-top: 15px;
    width: 99%;
}
.lead-head-1 {
    border-bottom: 1px solid #A7A6A6;
    clear: both;
    overflow: hidden;
    padding-bottom: 10px;
    width: 100%;
}
.lead-head-1 span {
    clear: both;
    color: #7A7676;
    display: block;
    font-family: "futuram";
    font-size: 11px;
    font-weight: bold;
}
td {
    vertical-align: top;
}
.whole-tbl {
    width: 100%;
}
.offest-padding {
    padding: 0 !important;
}
.lead-head-1 h2 {
    color: #7A7676;
    font-family: "futuram";
    font-size: 18px;
}
.lead-head-1 .view-other {
    overflow: hidden;
    padding: 10px 0;
    width: 100%;
}
.lead-head-1 .view-other h3 {
    color: #464545;
    float: left;
    font-family: "futuram";
    font-size: 14px;
    padding-right: 5px;
}
.lead-head-1 .view-other select {
    border: 1px solid #809EBA;
    float: left;
    height: 18px;
    margin-right: 5px;
    width: 161px;
}
.lead-head-1 .view-other input[type="button"] {
    background-image: url("../images/lead-savebutton-back.jpg");
    border: 1px solid #A9A3A3;
    cursor: pointer;
    float: left;
    font-size: 12px;
    font-weight: bold;
    margin-right: 5px;
    margin-top: -3px;
    padding: 3px 10px;
}
.lead-head-1 .view-other input[type="text"] {
    float: left;
    height: 19px;
    margin-right: 5px;
    margin-top: -2px;
    width: 153px;
}
.lead-head-1 .view-other ul {
}
.lead-head-1 .view-other ul li {
    border-left: 1px solid #000000;
    float: left;
    list-style: none outside none;
    margin-left: 5px;
}
.lead-head-1 .view-other ul li:first-child {
    border: medium none;
}
.lead-head-1 .view-other ul li a {
    color: #7C7B7A;
    display: block;
    font-family: "futuram";
    font-size: 14px;
    padding-left: 5px;
}
.lead-body-1 {
    overflow: hidden;
    padding: 10px 0;
    width: 100%;
}
.recent-leads-pg1 {
    overflow: hidden;
    width: 100%;
}
.recent-leads-pg-heads {
    margin: 5px 0;
    overflow: hidden;
    padding: 5px 0;
    width: 100%;
}
.recent-leads-pg-heads table tr td select {
    float: right;
}
.recent-leads-pg-heads table tr td h2 {
    color: #383737;
    font-family: "futuram";
    font-size: 18px;
    font-weight: 100;
}
.recent-leads-pg-heads table tr td input[type="button"] {
    background-image: url("../images/lead-savebutton-back.jpg");
    border: 1px solid #A9A3A3;
    cursor: pointer;
    float: left;
    font-size: 12px;
    font-weight: bold;
    margin-right: 5px;
    padding: 3px 10px;
}
th {
    vertical-align: top;
}
.table-for-all {
    overflow: hidden;
    padding: 8px 0;
    width: 100%;
}
.table-for-all table {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #A4A4A3 #A4A4A3 -moz-use-text-color;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 1px medium;
    box-shadow: 0 2px 2px rgba(50, 50, 50, 0.5);
    width: 100%;
}
.table-for-all table tr {
}
.table-for-all table tr th {
    background: url("../images/grouptitleback.jpg") repeat-x scroll center bottom #E3E4E6;
    border-bottom: 1px solid #A4A4A3;
    border-left: 1px solid #A4A4A3;
    overflow: hidden;
    padding: 6px 5px;
    text-overflow: ellipsis;
}
.table-for-all table tr th:first-child {
    border-left: medium none;
}
.table-for-all table tr th input[type="checkbox"] {
    float: left;
    margin-right: 5px;
    margin-top: 3px;
}
.table-for-all table tr td input[type="checkbox"] {
    float: left;
    margin-right: 5px;
    margin-top: 8px;
    padding-top: 5px;
}
.table-for-all table tr td span img {
    cursor: auto;
}
.table-for-all table tr th h3 {
    color: #000000;
    float: left;
    font-family: "futuram";
    font-size: 12px;
}
.table-for-all table tr th img {
    float: left;
    margin-left: 5px;
    margin-top: 4px;
}
.table-for-all table tr td {
    border-bottom: 1px solid #A4A4A3;
    height: 31px;
    line-height: 31px;
    overflow: hidden;
    padding-left: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.table-for-all table tr td p {
    color: #000000;
    float: left;
    font-family: "futuram";
    font-size: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.table-for-all table tr td a {
    color: #000000;
    float: left;
    font-family: "futuram";
    font-size: 12px;
    text-decoration: underline;
    white-space: nowrap;
}
.recentleads-underline p, .recentleads-underline a {
    text-decoration: underline;
}
.table-for-sub {
    overflow: hidden;
    padding: 8px 0;
    width: 100%;
}
.padding-left-5 {
    padding-left: 15px;
}
.no-records-t-d {
    color: #5F5F5F;
    display: block;
    font-family: "futuram";
    font-size: 12px;
    padding: 10px 0;
}
.no-records-t-d ul li {
    margin: 10px 20px;
}
.scrilldiv {
    max-height: 500px;
    overflow: auto;
    width: 100%;
}
.refresh-leads {
    background: url("../images/refresh-leads.jpg") no-repeat scroll 0 0 transparent !important;
}
.table-for-all table tr td ul {
    float: left;
    margin-top: 5px;
    overflow: hidden;
}
.table-for-all table tr td ul li {
    border-left: 1px solid #000000;
    float: left;
    height: 15px;
    list-style: none outside none;
    margin-left: 5px;
}
.table-for-all table tr td ul li:first-child {
    border: medium none;
}
.table-for-all table tr td li a {
    color: #015BA7;
    float: left;
    font-family: "futuram";
    font-size: 12px;
    margin-left: 5px;
    margin-top: -5px;
}
.table-for-all table tr td img {
    cursor: pointer;
    float: left;
    margin-left: 5px;
    margin-top: 10px;
}
.border-none {
    border: medium none !important;
}
.lead-edit-wt-bdr {
    background-color: #FFFFFF;
    border: 1px solid #B1B1B1;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 2px 2px 2px rgba(50, 50, 50, 0.35);
    clear: both;
    margin: 20px 0;
    padding: 15px 0;
    width: 99.5%;
}
.inner-lead-edit-wt-bdr {
    overflow: hidden;
    padding: 5px 7px;
    width: 98%;
}
.div-ht-for-sim {
    background: url("../images/div-back-hd.jpg") repeat-x scroll 0 0 transparent;
    box-shadow: 2px 2px 2px rgba(50, 50, 50, 0.25);
    clear: both;
    height: 26px;
    margin: 10px 0;
    overflow: hidden;
    width: 100%;
}
.div-ht-for-sim h2 {
    color: #000000;
    float: left;
    font-family: "futuram";
    font-size: 12px;
    line-height: 25px;
    margin-left: 10px;
    white-space: nowrap;
}
.div-ht-for-sim h3 {
    color: #000000;
    float: right;
    font-family: "futuram";
    font-size: 12px;
    line-height: 25px;
    margin-left: 10px;
    white-space: nowrap;
}
.page-section-inner {
    overflow: hidden;
    padding: 5px 7px;
    width: 99%;
}
.page-section-inner table {
    width: 100%;
}
.enterview-name {
    overflow: hidden;
    width: 100%;
}
.enterview-name table {
}
.enterview-name table tr {
    overflow: hidden;
}
.enterview-name table tr td {
}
.enterview-name table tr td h6 {
    color: #000000;
    float: left;
    font-family: "futuram";
    font-size: 14px;
    margin-bottom: 5px;
    padding: 0 10px;
}
.enterview-name table tr td a h6 {
    color: #000000;
    font-family: "futuram";
    font-size: 14px;
    margin-bottom: 5px;
    padding: 0 10px;
    text-decoration: underline;
}
.enterview-name table tr td h3 {
    color: #656565;
    direction: rtl;
    font-family: "futuram";
    font-size: 14px;
    padding: 0 10px;
}
.enterview-name table tr td span {
    display: block;
    float: right;
}
.enterview-name table tr td span a {
    color: #656565;
    font-family: "futuram";
    font-size: 14px;
    font-weight: bold;
    padding: 0 10px;
    text-decoration: underline;
}
.required-i {
    color: #FF0000 !important;
    font-family: "futuram" !important;
    font-size: 12px !important;
}
.enterview-name table tr td h3 span {
}
.enterview-name table tr td input[type="text"], .enterview-name table tr td textarea {
    float: left;
    margin: 0 0 10px 5px;
}
.enterview-name table tr td input[type="checkbox"] {
    float: left;
    margin-bottom: 4px;
    margin-left: 5px;
    margin-top: 4px;
}
.enterview-name table tr td select {
    float: left;
    margin: 0 0 10px 5px;
}
.enterview-name table tr td p {
    color: #000000;
    float: left;
    font-family: "futuram";
    font-size: 12px;
    margin: 3px 5px;
}
.enterview-name table tr td a {
    color: #000000;
    float: left;
    font-family: "futuram";
    font-size: 12px;
    margin: 0 3px;
    text-decoration: underline;
}
.enterview-name-addt {
    text-align: center !important;
}
.enterview-name-addt a {
    float: none !important;
    text-align: center !important;
}
.enterview-name-addt strong {
    color: #656565;
    direction: rtl;
    font-family: "futuram";
    font-size: 14px;
    padding: 0 10px;
}
.enterview-name-addt span {
    color: #000000;
    font-family: "futuram";
    font-size: 12px;
    padding: 0 5px;
}
.fliter-by-own {
    overflow: hidden;
    padding: 15px 5px;
}
.fliter-by-own span {
    clear: both;
    display: block;
    overflow: hidden;
}
.fliter-by-own strong {
    color: #656565;
    direction: rtl;
    font-family: "futuram";
    font-size: 14px;
    padding: 0 10px;
}
.fliter-by-own span input[type="radio"] {
    float: left;
    margin: 5px 0;
}
.fliter-by-own span label {
    color: #000000;
    float: left;
    font-family: "futuram";
    font-size: 12px;
    margin: 5px;
}
.fliter-by-own span select {
}
.fliter-by-ocampig {
}
.fliter-by-ocampig strong {
    color: #656565;
    direction: rtl;
    font-family: "futuram";
    font-size: 14px;
    padding: 0 10px;
}
.fliter-by-ocampig table tr td label {
    color: #656565;
    direction: rtl;
    font-family: "futuram";
    font-size: 12px;
    padding: 0 10px;
}
.fliter-by-ocampig strong {
    color: #656565;
    direction: rtl;
    font-family: "futuram";
    font-size: 14px;
    padding: 0 10px;
}
.fliter-by-ocampig table tr td a img {
    margin-left: 5px;
}
.fliter-by-ocampig table tr td input[type="text"] {
    float: left;
}
.additional-fields {
    width: 70%;
}
.additional-fields strong {
    color: #656565;
    direction: rtl;
    font-family: "futuram";
    font-size: 14px;
    padding: 0 10px;
}
.additional-fields table {
    margin: 5px;
}
.additional-fields table tr td select {
    margin: 5px;
}
.additional-fields table tr th {
    color: #656565;
    direction: rtl;
    font-family: "futuram";
    font-size: 14px;
    padding: 0 10px;
}
.additional-fields table tr td input[type="text"] {
    float: left;
}
.additional-fields table tr td a img {
    margin-left: 5px;
}
.additional-fields table tr td span {
    color: #666666;
    font-family: "futuram";
    font-size: 12px;
}
.fild-selection-pg-ld {
    margin: 10px;
    width: 50%;
}
.fild-selection-pg-ld table tr td div {
    overflow: hidden;
    padding: 5px 0;
}
.fild-selection-pg-ld table tr td label {
    color: #656565;
    font-family: "futuram";
    font-size: 14px;
    font-weight: bold;
    padding: 0 10px;
}
.valign-for {
    vertical-align: middle;
}
.overflow-hidde {
    float: left;
    overflow: hidden;
}
.fild-selection-pg-ld table tr td input[type="button"] {
    background-image: url("../images/lead-savebutton-back.jpg");
    border: 1px solid #A9A3A3;
    clear: both;
    cursor: pointer;
    display: block;
    font-size: 12px;
    font-weight: bold;
    margin: 5px 0;
    padding: 3px 10px;
}
.filter-criteria {
    overflow: hidden;
    padding: 5px;
}
.filter-criteria label {
    color: #333333;
    font-family: "futuram";
    font-size: 12px;
}
.break-area {
    border-bottom: 1px solid #D5D2D2;
    clear: both;
    overflow: hidden;
    width: 100%;
}
.select-n-stat {
    padding: 10px 0;
    width: 100%;
}
.select-n-stat p {
    clear: both;
    color: #4E4D4D;
    font-family: "futuram";
    font-size: 12px;
    margin: 10px 0;
    overflow: hidden;
    text-align: justify;
}
.page-section-inner .slect-chkbox {
    margin: 10px 0;
}
.page-section-inner .slect-chkbox tr td {
    float: left;
    overflow: hidden;
}
.page-section-inner .slect-chkbox tr td p {
    clear: both;
    color: #4E4D4D;
    font-family: "futuram";
    font-size: 12px;
    margin: 0 5px;
    overflow: hidden;
    text-align: justify;
}
.page-section-inner .slect-chkbox tr td input[type="checkbox"] {
    display: block;
    float: left;
    margin: 0 5px;
}
.select-n-stat ul {
    padding: 5px;
}
.select-n-stat ul li {
    clear: both;
    color: #4E4D4D;
    font-family: "futuram";
    font-size: 12px;
    list-style: decimal outside none;
    margin-left: 40px;
}
.no-padding-pg-lc {
    padding: 0;
}
.led-user-info {
    float: left;
    overflow: hidden;
}
.lead-head-1 a img {
    float: left;
    margin-right: 5px;
}
.led-user-info h5 {
    color: #7A7676;
    font-family: "futuram";
    font-size: 18px;
}
.led-user-info ul {
}
.led-user-info ul li {
    float: left;
    list-style: none outside none;
    margin-left: 1px;
    padding: 0;
}
.led-user-info ul li a {
    margin: 0;
}
.lead-chatter-f {
    background-color: #FFFFFF;
    border: 1px solid #A6A4A4;
    clear: both;
    margin: 20px 0;
    overflow: hidden;
    padding: 0 0 15px;
    width: 99.5%;
}
.lead-chatter-heading {
    background: none repeat scroll 0 0 #F1EFEF;
    margin-bottom: 15px;
    overflow: hidden;
    width: 100%;
}
.lead-chatter-heading ul {
    overflow: hidden;
}
.lead-chatter-heading ul li {
    float: left;
    list-style: none outside none;
    margin-left: 20px;
    overflow: hidden;
}
.lead-chatter-heading ul li a {
    display: block;
}
.lead-chatter-heading ul li a span {
    color: #FA870B;
    display: block;
    font-family: "futuram";
    font-size: 12px;
    font-weight: bold;
    line-height: 30px;
}
.lead-margin-chatter {
    float: left;
    margin: 0 15px;
}
.lead-show-hide-chatt {
    background-color: #DCDADA;
    padding: 0 10px;
}
.lead-follower-box {
    border: 1px solid #CFCFCE;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 2px 2px 2px rgba(50, 50, 50, 0.25);
    float: left;
    overflow: hidden;
    width: 200px;
}
.lead-follower-box .followers-box-head {
    background: none repeat scroll 0 0 #DCDADA;
    overflow: hidden;
    padding: 0 10px;
}
.lead-follower-box .followers-box-head span {
    color: #525251;
    float: left;
    font-family: "futuram";
    font-size: 12px;
    font-weight: bold;
    line-height: 25px;
}
.lead-follower-box .followers-box-head p {
    color: #666666;
    float: right;
    font-family: "futuram";
    font-size: 12px;
    line-height: 25px;
}
.lead-follower-box .followers-box-body {
    overflow: hidden;
    padding: 10px;
}
.lead-follower-box .followers-box-body span {
    color: #999999;
    display: block;
    font-family: "futuram";
    font-size: 12px;
    margin: 5px 0;
    overflow: hidden;
}
.lead-follower-box .followers-box-body div {
    margin: 3px 0;
    overflow: hidden;
}
.lead-addtional-info {
    background: none repeat scroll 0 0 #F8F8F8;
    margin: 10px 0;
    overflow: hidden;
    width: 100%;
}
.lead-addtional-info table {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #D5D2D2 #D5D2D2 -moz-use-text-color;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 1px medium;
    line-height: 25px;
}
.lead-addtional-info table tr th {
    border-bottom: 1px solid #D5D2D2;
}
.lead-addtional-info table tr th span img {
    cursor: pointer;
    float: left;
    margin: 7px 3px;
}
.lead-addtional-info table tr th span {
    color: #000000;
    float: left;
    font-family: "Times New Roman",Times,serif;
    font-size: 16px;
    margin-left: 10px;
    overflow: hidden;
}
.lead-addtional-info table tr td {
    border-bottom: 1px solid #D5D2D2;
}
.lead-addtional-info table tr td h4 {
    color: #656565;
    direction: rtl;
    font-family: "futuram";
    font-size: 14px;
    padding: 0 10px;
}
.lead-addtional-info table tr td p {
    color: #686767;
    float: left;
    font-family: "futuram";
    font-size: 12px;
    margin-left: 5px;
}
.lead-addtional-info table tr td a {
    color: #686767;
    float: left;
    font-family: "futuram";
    font-size: 12px;
    margin-left: 5px;
    text-decoration: underline;
}
.back-to-top {
    color: #BA5301;
    cursor: pointer;
    float: left;
    font-family: "futuram";
    font-size: 12px;
    line-height: 25px;
}
.show-more-records {
    color: #000000;
    cursor: pointer;
    float: right;
    font-family: "futuram";
    font-size: 12px;
    line-height: 25px;
    margin-bottom: 10px;
    margin-right: 100px;
}
.show-more-records b {
    color: #BA5301;
    cursor: pointer;
}
.lead-addtional-info table tr td input[type="text"] {
    float: left;
    margin: 5px;
}
.lead-addtional-info table tr td input[type="checkbox"] {
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 8px;
    padding-top: 5px;
}
.lead-addtional-info table tr td input[type="radio"] {
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 8px;
    padding-top: 5px;
}
.lead-addtional-info table tr td p {
    color: #000000;
    float: left;
    font-family: "futuram";
    font-size: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.table-for-merge table {
    border-top: medium none;
}
.table-for-merge table tr td h4 {
    color: #545453;
    font-size: 12px !important;
}
.table-for-merge table tr td a {
    font-size: 12px !important;
}
.table-for-merge table tr td p {
    font-size: 12px !important;
    white-space: inherit;
}
.table-for-merge table tr th {
    background-image: url("../images/grouptitleback.jpg");
    border-bottom: 1px solid #A4A4A3;
    border-left: 1px solid #A4A4A3;
    border-top: 1px solid #A4A4A3;
    height: 31px;
    max-width: 200px;
    overflow: hidden;
    padding-left: 5px;
    text-overflow: ellipsis;
}
.table-for-merge table tr th h3 {
    color: #000000;
    font-family: "futuram";
    font-size: 14px;
    margin: 0 5px;
}
.table-for-merge table tr th:last-child {
    border-right: 1px solid #A4A4A3;
}
.table-for-merge table tr td:first-child {
    border-right: 1px solid #A4A4A3;
}
.merge-important {
    background-color: #FAEBD5;
}
.recurrence-task {
    direction: ltr;
    float: left;
    overflow: hidden;
}
.recurrence-task div {
    direction: ltr;
    float: left;
    overflow: hidden;
}
.recurrence-task div span {
    clear: both;
    display: block;
    overflow: hidden;
}
.recurrence-task div span input[type="radio"] {
    float: left;
    margin-left: 5px;
}
.recurrence-task div span input[type="checkbox"] {
    float: left;
    margin-left: 5px;
}
.recurrence-task div div span {
    clear: both;
    display: block;
    overflow: hidden;
}
.recurrence-task div div span input[type="radio"] {
    float: left;
    margin-left: 5px;
}
.recurrence-task div div span input[type="checkbox"] {
    float: left;
    margin-left: 5px;
}
.invite-table table tr td span {
    display: block;
    height: 10px;
    margin-top: 3px;
    overflow: hidden;
    width: 100%;
}
.invite-table table tr th {
    height: inherit !important;
}
.invite-table table tr th h3 {
    font-size: 12px !important;
}
.invite-table table tr td span:first-child {
    margin-top: 0;
}
.busy-invitee {
    background-color: #6777CC;
}
.away-invitee {
    background-color: #B64B32;
}
.invitee-semi-balci {
    background-color: #EEEDED;
}
.invitee-semi-border {
    border-right: 1px solid #A4A4A3;
}
.report-grd-total {
    background-color: #A7A6A6;
    overflow: hidden;
    width: 100%;
}
.report-grd-total h3 {
    color: #FFFFFF;
    font-family: "futuram";
    font-size: 14px;
    margin: 5px;
}
.report-grd-total span {
    color: #FFFFFF;
    float: right;
    font-family: "futuram";
    font-size: 12px;
    font-weight: bold;
    margin: 5px;
}
.tr-mst td {
    background-color: #FDF5EA;
}
.tr-mst td h5 {
    color: #666666;
    font-family: "futuram";
    font-size: 14px;
}
.ld-tifetime-report {
    overflow: hidden;
}
.ld-tifetime-report table tr td {
    float: left;
    padding: 5px;
}
.ld-tifetime-report table tr td h3 {
    color: #666666;
    font-family: "futuram";
    font-size: 14px;
    margin: 5px;
}
.ld-tifetime-report table tr td p {
    clear: both;
    color: #333333;
    display: block;
    font-family: "futuram";
    font-size: 14px;
    margin: 5px;
}
.ld-tifetime-report table tr td strong {
}
.ld-tifetime-report table tr td label {
    clear: both;
    color: #333333;
    display: block;
    font-family: "futuram";
    font-size: 14px;
    margin: 5px;
}
.margin-left-camp {
    margin-left: 0.5%;
    width: 99%;
}
.camplook-up-search {
    display: table;
}
.camplook-up-search table tr td strong {
    color: #333333;
    font-family: "futuram";
    font-size: 12px;
    line-height: 23px;
    padding: 5px;
}
.camplook-up-search table tr td span input[type="button"] {
    background: url("../images/lead-savebutton-back.jpg") repeat-x scroll 0 0 transparent;
    border: 1px solid #A9A3A3;
    color: #545453;
    cursor: pointer;
    font-family: "futuram";
    font-size: 12px;
    padding: 3px 10px;
}
.camp-look-up-mail1 {
    padding: 10px;
}
.camp-look-up-mail1 img {
    float: left;
    margin: 0 10px;
}
.camplook-up-search table tr td p {
    color: #333333;
    font-family: "futuram";
    font-size: 12px;
}
.lead-edit-wt-bdr h2 {
    color: #7A7676;
    font-family: "futuram";
    font-size: 14px;
    margin: 0 10px;
}
.sign-in-panel-info {
    overflow: hidden;
}
.sign-in-panel-info p {
    color: #666666;
    float: left;
    font-family: "futuram";
    font-size: 12px;
    margin: 10px 5px;
}
.sign-in-panel-info a {
    color: #0099FF;
    display: block;
    font-family: "futuram";
    font-size: 12px;
    margin: 10px 5px;
    overflow: hidden;
}
.import-leads-fp {
    width: 100%;
}
.import-leads-fp table tr td p {
    color: #000000;
    font-family: "futuram";
    font-size: 12px;
    margin: 5px;
}
.import-leads-fp table tr td label {
    color: #000000;
    display: block;
    font-family: "futuram";
    font-size: 12px;
    margin: 5px;
}
.import-leads-fp table tr td div {
    color: #000000;
    display: block;
    font-family: "futuram";
    font-size: 12px;
    margin: 5px;
}
.import-leads-fp table tr td input[type="checkbox"] {
    float: left;
    margin: 5px;
}
.import-leads-fp table tr td input[type="radio"] {
    float: left;
    margin: 5px;
}
.import-leads-fp table tr td input[type="submit"] {
    background-image: url("../images/lead-savebutton-back.jpg");
    border: 1px solid #A9A3A3;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    margin-right: 5px;
    margin-top: -3px;
    padding: 3px 10px;
}
.import-leads-fp table tr td input[type="button"] {
    background-image: url("../images/lead-savebutton-back.jpg");
    border: 1px solid #A9A3A3;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    margin-right: 5px;
    margin-top: -3px;
    padding: 3px 10px;
}
.import-leads-fp table tr td {
    padding: 0 5px;
}
.print-this {
    cursor: pointer;
    display: block;
    float: right;
    margin: 0 5px;
    overflow: hidden;
}
.print-close-acc {
    float: right;
    padding: 10px;
}
.print-close-acc ul li a {
    color: #666666;
    font-family: "futuram";
    font-size: 14px;
}
.contact-left {
    background-color: #FFFFFF;
    border: 1px solid #D7D7D7;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 0 3px #CCCCCC;
    float: left;
    margin-left: 25px;
    min-height: 800px;
    overflow: hidden;
    padding: 0 0 30px;
    position: relative;
    width: 95%;
}
.page_header {
    background: none repeat scroll 0 0 #A08BBA;
    border-bottom: 1px solid #DADEE5;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin: 0;
    padding: 15px 30px;
}
.page_header12 {
    margin: 0;
    padding: 15px 30px;
}
.page_header12 p {
    border-bottom: 1px solid #EDEDED;
    min-height: 30px;
}
.page_header h1 {
    font-family: "futuram";
    font-size: 16px;
    font-weight: normal;
    text-align: left;
}
h1 span.toggle {
    font-size: 12px;
}
h1 span {
    font-weight: normal;
}
a.admin {
    color: red;
}
.filter {
    float: left;
    font-family: "futuram";
    width: 94%;
}
.sidebar {
    float: left;
    width: 243px;
}
.filter-left {
    border-bottom: 2px solid #EEEEEE;
    float: left;
    padding: 15px 30px;
    width: 89%;
}
.filter-left h1 {
    font-family: "futuram";
    font-size: 13px;
    font-weight: normal !important;
    line-height: 18px;
    text-align: left;
}
.filter-left ul li {
    float: left;
    font-family: "futuram";
    list-style: none outside none;
    padding: 0 6px 0 0;
    text-decoration: underline;
    white-space: nowrap;
}
.filter-left ul li a {
    color: #0047B3;
    font-size: 12px;
}
.toptip {
    background: url("../images/hover.jpg") no-repeat scroll 0 0 transparent;
    height: 8px;
    left: 86px;
    position: absolute;
    top: -8px;
    width: 18px;
}
.tip {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 8px 8px 8px 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    font-size: 1.2em;
    left: 477px;
    padding: 10px;
    position: absolute;
    top: 114px;
    width: 200px;
}
.tip input {
}
.filter-left12 {
    float: left;
    padding: 15px 30px;
    width: 93%;
}
.filter-left12 h1 {
    color: #000000;
    font-family: "futuram";
    font-size: 13px;
}
.filter-left12 a {
    color: #888888;
    font-family: "futuram";
    font-size: 12px;
    line-height: 18px;
}
.filter-left12 ul li {
    float: left;
    list-style: none outside none;
    margin-right: 5px;
}
.filter-left12 ul li a {
    background: none repeat scroll 0 0 #DFDFDF;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    color: #444444;
    cursor: pointer;
    display: inline-block;
    margin: 0;
    padding: 1px 6px 0;
}
.active-one {
    background: none repeat scroll 0 0 #4073BF !important;
    color: #FFFFFF !important;
    text-decoration: none;
}
.select {
    background: none repeat scroll 0 0 #FBF3E6;
    border-top: 1px solid #4073BF;
    clear: both;
    padding-top: 10px;
}
.select12 {
    clear: both;
    padding-top: 10px;
}
.select12 h1 {
    color: #000000;
    font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif;
    font-size: 12px;
    font-weight: bold;
}
.select12 label {
    font-family: "futuram";
    font-size: 12px;
    line-height: 25px;
    text-align: left;
}
.small {
    color: #666666;
    display: block;
    font-family: "futuram";
    font-size: 10px;
    padding-top: 3px;
}
.select label {
    font-family: "futuram";
    font-size: 13px;
    line-height: 20px;
}
.select-inner {
    border-top: 1px solid #D8DCDF;
    clear: both;
    padding-top: 5px;
}
.select-inner12 {
    padding-top: 32px;
}
.filter-table table tr.selected {
    background: none repeat scroll 0 0 #FFFFCC !important;
}
.filter-table {
    float: left;
    padding: 0 0 0 30px;
    width: 93%;
}
.filter-table table {
    width: 100%;
}
.filter-table table tr td img {
    border: 1px solid #DDDDDD;
    width: 55px;
}
.filter-table table tr td.avatar {
    padding: 11px 0 0;
}
.filter-table table td.checkbox {
    padding: 12px !important;
    vertical-align: top !important;
}
.filter-table table td.party {
    padding-left: 12px;
}
.filter-table table td.date {
    color: #666666;
    font-size: 10px;
    white-space: nowrap;
}
.filter-table table tr td {
    border-bottom: 1px solid #EEEEEE;
    font-size: 11px;
    height: 55px;
    padding: 12px 0;
    vertical-align: top;
}
.filter-table table tr td h6 a {
    color: #888888;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.3em;
    margin-bottom: 3px;
}
.prevnext {
    padding-top: 20px;
}
.prevnext span {
    float: left;
}
.back {
    background: url("../images/prev.jpg") repeat-x scroll 0 0 #FFFFFF;
    border: 2px solid #D9D9D9;
    border-radius: 35px 35px 35px 35px;
    color: #999999;
    font-family: "futuram";
    font-size: 11px;
    font-weight: bold;
    height: 20px;
    line-height: 29px;
    padding: 5px 29px;
    text-shadow: 0 0 1px #FFFFFF;
    white-space: nowrap;
}
.back1 {
    color: #000000;
    font-family: "futuram";
    font-size: 11px;
    font-weight: normal;
    line-height: 29px;
    padding: 0 6px;
    text-shadow: 0 0 1px #FFFFFF;
    white-space: nowrap;
}
.new {
    border-left: 1px solid #EFEFEF;
    float: left;
    font-size: 12px;
    padding: 10px 0 0 10px;
    position: relative;
    width: 140px;
    word-wrap: break-word;
}
.new a {
    color: #0047B3;
    text-decoration: underline;
}
.new h5 {
    border-bottom: 1px solid #EFEFEF;
    color: #222222;
    font-size: 12px;
    font-weight: bold;
    line-height: 2em;
    padding: 0 0 3px;
    text-transform: none;
}
.new-left {
    float: left;
    width: 78%;
}
dl.tags_list dt {
    color: #007FC3;
    float: left;
    line-height: 1.4em;
    margin-right: 12px;
    min-height: 100%;
    text-align: center;
    width: 15px;
}
dl.tags_list {
    color: #999999;
    font-size: 12px;
    line-height: 1.4em;
}
a.tag {
    background-color: #F0F0F0;
    border-bottom: 1px solid #DCDCDC;
    border-radius: 6px 6px 6px 6px;
    border-right: 1px solid #DCDCDC;
    color: #222222;
    display: inline-block;
    font-size: 12px;
    line-height: 14px;
    margin: 1px 0;
    padding: 1px 4px;
    text-decoration: none;
}
.contact-left12 {
    background-color: #FFFFFF;
    border: 1px solid #D7D7D7;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 0 3px #CCCCCC;
    margin: 0 auto !important;
    min-height: 800px;
    overflow: hidden;
    padding: 0 0 30px;
    position: relative;
    width: 50%;
}
.contact-left123 {
    background-color: #FFFFFF;
    border: 1px solid #D7D7D7;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 0 3px #CCCCCC;
    float: left;
    margin-left: 25px;
    min-height: 800px;
    overflow: hidden;
    padding: 0 0 30px;
    position: relative;
    width: 92%;
}
.form p {
    color: #000000;
    font-family: "futuram";
    font-size: 12px;
    font-weight: bold;
    padding: 10px 0 0;
}
.form input {
    padding: 5px;
    width: 46%;
}
.form label {
    display: block;
    float: left;
    text-align: left;
    width: 110px !important;
}
.form1 label {
    display: block;
    float: left;
    text-align: left;
    width: 110px !important;
}
.form1 select {
    width: 78px;
}
.form1 p {
    color: #000000;
    font-family: "futuram";
    font-size: 12px;
    font-weight: bold;
    padding: 10px 0 0;
}
.form1 input {
    padding-left: 5px;
    width: 46%;
}
.form3 input {
    padding-left: 5px;
    width: 66%;
}
.title {
    color: #999999;
    cursor: pointer;
    font-size: 12px;
    font-weight: normal;
    padding: 1px;
}
.topic {
    color: #999999;
    font-size: 11px;
    font-weight: normal;
    line-height: 33px;
}
.contact_method {
    padding-top: 30px;
}
.contact_method p {
    border: 0 none;
    color: #000000;
    font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif;
    font-size: 12px;
}
.filter-left123 {
    float: left;
    padding: 15px 30px;
    width: 68%;
}
.filter-left1234 {
    background: none repeat scroll 0 0 #FBF3E6;
    float: right;
    font-family: "futuram";
    font-size: 12px;
    height: 300px;
    padding: 15px 30px;
    width: 17%;
}
.filter-left1234 p {
    line-height: 24px;
    padding-top: 10px;
}
.filter-left123 h1 {
    color: #000000;
    font-family: "futuram";
    font-size: 13px;
}
.filter-left123 a {
    color: #888888;
    font-family: "futuram";
    font-size: 12px;
    line-height: 18px;
}
.filter-left123 ul li {
    float: left;
    list-style: none outside none;
    margin-right: 5px;
}
.filter-left123 ul li a {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #DDDDDD #DDDDDD -moz-use-text-color;
    border-image: none;
    border-style: solid solid none;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-width: 1px 1px 0;
    color: black;
    cursor: pointer;
    display: inline-block;
    margin: -1px 0;
    padding: 3px 9px;
    text-decoration: none;
}
.contacts {
    overflow: hidden;
}
.contacts img {
    float: left;
    padding-right: 20px;
}
.contacts h1 {
    font-size: 30px;
    left: -1px;
    letter-spacing: -1px;
    line-height: 30px;
    position: relative;
}
.contacts h3 {
    color: #000000;
    font-family: "futuram";
    font-size: 13px;
    font-weight: normal;
    line-height: 13px;
    padding-top: 5px;
}
.add {
    border-bottom: 1px solid #DDDDDD;
    font-size: 11px;
    height: 24px;
    line-height: 14px;
    margin: 18px 0;
    padding: 0 18px;
}
.add-text {
    overflow: hidden;
}
.add-text h1 {
    font-size: 13px;
    line-height: 18px;
    margin: 0;
}
.add-text p {
    color: #777777;
    font-family: "futuram";
    font-size: 11px;
    line-height: 15px;
    margin: 0;
}
.add-text textarea {
    margin-top: 5px;
}
.submit123 {
    float: right;
    margin-top: 20px;
}
.edit a {
    color: #FF0000;
    font-family: "futuram";
    font-size: 13px;
    text-align: left;
    text-decoration: underline;
}
.login-top {
    padding-top: 70px;
    text-align: center;
    width: 100%;
}
.login-top img {
    margin: 0 auto;
   /* width: 84px;*/
}
.mid-login {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 6px #FFFFFF;
    font-family: "futuram";
    margin: 5px auto;
    width: 398px;
}
.mid-login-inner {
    margin: 0;
    padding: 23px 28px 8px;
}
.password_entry {
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 6px;
}
.user_name {
    font-size: 14px;
    padding: 3px;
    width: 275px;
}
.password_entry label {
    line-height: 20px;
}
.checkbox_and_submit {
    color: #666666;
    font-size: 12px;
}
.button {
    font-size: 14px;
    margin: 10px 0 0;
    padding: 3px;
    width: auto;
}
.extras {
    border-top: 1px dashed #CCCCCC;
    margin-top: 15px;
    padding-top: 10px;
}
.extras ul li {
    font-size: 12px;
    line-height: 16px;
    list-style: none outside none;
    padding-bottom: 3px;
}


.footer-wrapper

{width:100%;
background-color:#F3F3F3;
}


 @font-face {
font-family:"futuram";
 src:url('../fonts/futuram.ttf');
}

.greyback
{
	background-color:#F3F3F3;
}

.other
{width:69%;
margin:10px;
float:right;
}

.other h1
{
	background:#F3F3F3;

	
	color:#01519B;
	font-size:15px;
	padding:5px;
}

.other ul li 
{list-style:none !important;
float:left;
border-right:1px groove #CCC;
margin-left:10px;
margin-top:10px;

}
.other ul li p
{float:left !important;
line-height:27px;
padding-left:20px;
font-size:12px;
margin-right:10px;
}
.other ul li img
{float:left !important;
}

.anchor
{ background: none repeat scroll 0 0 #F0F0F0;
    border: 1px solid #848282;
    clear: both;
    float: left;
    height: 32px;
    overflow: hidden;
    padding: 0 10px;
	line-height:30px;
}

.access123
{width:200px;
padding-top:13px;
}

.access123 table tr td input
{float:left;
}

.access123 h2
{color: #e94444;
    font-size: 1em;
}
.access123 table tr td p
{float:left;
color:#e91a1a;
font-size:12px;
}



.upload-file-table table td 
{height:35px;
padding:5px;
}

.attachfile-2-content table td
{padding:5px;
}

.tasklists
{
	
}

.tasklists table tr th
{  background: url("../images/refreshback.jpg") repeat-x scroll 0 0 #CBCBCB;
    border: 1px solid #A0A09F;
  
    color: #000000;
    cursor: pointer;
   
 font-family:"futuram";
    font-size: 14px;
    font-weight: bold;
    height: 23px;
    line-height: 23px;
    margin-left: 5px;
    padding: 0 10px;
}



.tasklists table tr td a
{float:left !important;
padding-left:5px;
padding-top:3px;

}

.tasklists table
{border:1px groove #E0E3E5 ;
}

.tasklists table tr td a img
{
	width:15px;
	height:17px;
}
.tasklists table tr td
{
	 font-family:"futuram";
    font-size: 14px;
	padding:5px;
	
	border:1px groove #E0E3E5 ;
}

.tasklists table tr
{
background-color:#F3F3F3;


}
.tasklists table tr:hover
{
background-color:#fff;
-webkit-transition: all 0.6s ease 0s;

	-moz-transition: all 0.6s ease 0s;

		-O-transition: all 0.6s ease 0s;


}

.contact_style
{padding:10px;
}
.contact_style table
{ 
}

.contact_style table tr td
{
padding:5px;


}

.contact_style table tr td label
{
display:block;
font-size:14px;
text-align:left;
padding-left:10px;
font-weight:bold;
line-height:29px;
color:#7F7F7E;

}

.contact_style table tr td input
{width:300px;
height:30px;
padding-left:5px;
}

.contact_style table tr td input[type="submit"]
{width:130px !important;
}
.contact_style table tr td input[type="reset"]
{width:130px !important;
margin-left:10px;
}



.upload-style
{overflow:inherit;
}


.upload-style h1
{font-size:18px;
background-color:#F3F3F3;


display:block;
 border: 1px solid #e0e0e0;

 
    font-family: "futuram";
 
    font-weight: bold;

    overflow: hidden;
    padding: 2px 10px;
	

text-align:left;
color:#7F7F7E;


}
.upload-style form label
{  color: #7F7F7E;
    display: block;
    font-size: 14px;
    font-weight: bold;
    line-height: 29px;
    padding-left: 10px;
    text-align: left;
}
.upload-style form input
{ height: 30px;
    padding-left: 5px;
    width: 300px;
}

.upload-style form textarea
{ 
    padding-left: 5px;
    width: 300px;
}

.upload-style-file
{
    padding-left: 5px;
    width:100px !important;
	margin-top:20px;
}

.group-style
{width:100%:
}

.group-style h3
{background:#F2F3F3;
display:block;
 border: 1px solid #e0e0e0;

 
    font-family: "futuram";
 


    overflow: hidden;
	font-size:12px;
	
    padding: 2px 10px;
	

text-align:center;
color:#7F7F7E;

}

.group-style ul li a
{background:#F2F3F3;
display:block;
 border: 1px solid #e0e0e0;

 
    font-family: "futuram";
 


    overflow: hidden;
	font-size:13px;
	font-weight:bold;
	line-height:20px;
	line-height:30px;
	padding-left:5px;
	

	

text-align:left;
color:#7F7F7E;
}
.group-style ul li input
{margin-right:5px !important;
}
.group-style ul li a:hover
{background-color:#fff;
}

.import-style
{padding:15px;
}

.import-style h2
{
  background: none repeat scroll 0 0 #F3F3F3;
  font-size:20px;

    float: left;
	padding:5px;
	margin-bottom:30px;

    width: 100%;}
	
	.import-style a
	{
		line-height:30px;
		color:#818181;
	}
	
		.import-style a:hover
		{color:#F00;
		}
		
		.import-left12 {
		
    background-color: #FFFFFF;
    border: 1px solid #D7D7D7;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 0 3px #CCCCCC;
    margin: 0 auto !important;
	min-height:300px;

    overflow: hidden;
    padding: 0 0 30px;
    position: relative;
    width: 50%;
}